<!-- <%= @line.errors.inspect %> -->
<%= semantic_form_for [@referential, @line] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :network, :as => :select, :collection => Chouette::Network.all, :include_blank => false %> 
    <%= form.input :company, :as => :select, :collection => Chouette::Company.all, :include_blank => false%>
    <%= form.input :name %>
    <%= form.input :published_name %>
    <%= form.input :registrationnumber %>  
    <%= form.input :number %>
    <%= form.input :transport_mode, :as => :select, :collection => Chouette::Line.transport_modes, :include_blank => false, :member_label => Proc.new { |mode| t("transport_modes.label.#{mode}") }  %>
    <%= form.input :comment %>              
    <% if @line.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @line.human_attribute_name("objectid") %>: </label>
      <%= @line.objectid %>
      </li>
    <% end %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
<% end %>
