<!-- <%= @line.errors.inspect %> -->
<%= semantic_form_for [@referential, @line] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :name %>
    <%= form.input :objectid %>  
    <%= form.input :registration_number %>  
    <%= form.input :network, :as => :select, :collection => Chouette::Network.all, :include_blank => false %> 
    <%= form.input :company, :as => :select, :collection => Chouette::Company.all, :include_blank => false%>
    <%= form.input :published_name %>
    <%= form.input :number %>
    <%= form.input :transport_mode_name, :as => :select, :collection => Chouette::TransportMode.definitions, :include_blank => false, :member_label => Proc.new { |a| t("#{a[0]}") }  %>
    <%= form.input :comment,  :as => :text %>              
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('back'), :back %></li>
  <% end %>
<% end %>
