<div id="index_item" class="panel panel-default line">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <span class="pull-right">                
        <%= link_to edit_referential_line_path(@referential, line), :class => "btn btn-default btn-sm" do %>
          <span class="fa fa-pencil"></span>
        <% end %>
        <%= link_to referential_line_path(@referential, line), :method => :delete, :data => {:confirm =>  t('lines.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm" do %>
          <span class="fa fa-trash-o"></span>
        <% end %>
      </span>
      <h5>
        <%= link_to([@referential, line], :class => "preview", :title => "#{Chouette::Line.model_name.human.capitalize} #{line.name}") do %>        
        <% if line.number and line.number.length <= 3 %>
           <span class="label label-default"><%= line.number %></span>
        <% end %>        
        <span class="name">
          <%= check_box_tag "ids[]", line.id, false, :class => "multiple_selection", :style => "display: none;" %>
          <%= truncate(line.name, :length => 20) %>          
        </span>
        <% end %>
      </h5>
    </div>                          
  </div>
  <div class="panel-body">
    <p>
    <% if line.network.nil? %>
    	<%= line.human_attribute_name('network') %> <%=  t('lines.index.unset') %> 
  	<% else %>
       <%= line.human_attribute_name('network') %> <%= link_to_if line.network, line.network.name, referential_network_path(@referential, line.network), :title => "#{line.human_attribute_name('network')} #{line.network.name}" %>
    <% end %>
    </p>
    <p>
  	<% if line.company.nil? %>
  	   <%= line.human_attribute_name('company') %> <%=  t('lines.index.unset') %> 
  	<% else %>
       <%= line.human_attribute_name('company') %> <%= link_to_if( line.company, line.company.name, referential_company_path(@referential, line.company), :title => "#{line.human_attribute_name('company')} #{line.company.name}" )  %>
    <% end %>
    </p>   
    <p>
    <% if line.group_of_lines.count == 0 %> 
        <%= t('lines.form.no_group_of_line') %>
    <% elsif line.group_of_lines.count == 1 %>
        <%= line.human_attribute_name('group_of_line') %>  
        <%= link_to_if( line.group_of_lines.first, line.group_of_lines.first.name, referential_group_of_line_path(@referential, line.group_of_lines.first), :title => "#{line.human_attribute_name('group_of_line')} #{line.group_of_lines.first.name}") %> 
    <% else %>
       <%= t('lines.form.several_group_of_lines', :count => line.group_of_lines.count) %>
    <% end %>
    </p>
  </div>
</div>
