<%= title_tag t('lines.index.title') %> 

<%= search_form_for @q, :url => referential_lines_path(@referential), :html => {:method => :get} do |f| %>
  <%= f.label :name_or_number_cont, "#{t('.name_or_number')} :" %>
  <%= f.text_field :name_or_number_cont %>

  <%= f.hidden_field :company_id_eq %>
  <%= f.hidden_field :network_id_eq %>

  <%= f.submit t('actions.search') %> <%= t("or") %>
  <%= link_to t("cancel"), referential_lines_path(@referential) %>
<% end %>

<% if @q.network_id_eq.present? %>
<p>
  <%= Chouette::Line.human_attribute_name('network') %> : <%= @referential.networks.find(@q.network_id_eq).name %>
</p>
<% end %>

<% if @q.company_id_eq.present? %>
<p>
  <%= Chouette::Line.human_attribute_name('company') %> : <%= @referential.companies.find(@q.company_id_eq).name %>
</p>
<% end %>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @lines %>
  </div>
  <%= will_paginate @lines, :container => false %>
</div>
<div class="lines paginated_content">
  <%= render :partial => "line", :collection => @lines %>
</div>
<div class="pagination">
  <%= will_paginate @lines, :container => false %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('lines.actions.new'), new_referential_line_path(@referential), :class => "add" %></li> 
</ul>

<ul class="actions">
  <li><%= link_to t('lines.actions.import'), new_referential_import_path(@referential), :class => "import" %></li> 
</ul>

<h3><%= t(".selection") %></h3>

<h4><%= Chouette::Company.model_name.human.pluralize %></h4>

<ul class="selection">
<% @referential.companies.each do |company| %>
<li><%= link_with_search company.name, "company_id_eq" => company.id %></li>
<% end %>
<li><%= link_with_search t(".selection_all"), {"company_id_eq" => nil}, :class => "all" %></li>
</ul>

<h4><%= Chouette::Network.model_name.human.pluralize %></h4>

<ul class="selection">
<% @referential.networks.each do |network| %>
<li><%= link_with_search network.name, "network_id_eq" => network.id %></li>
<% end %>
<li><%= link_with_search t(".selection_all"), {"network_id_eq" => nil}, :class => "all" %></li>
</ul>

<div id="multiple_selection_menu">
  <h3>Sélection multiple</h3>
  <div class="disabled">
    <a class="enable" href="#">Activer la sélection multiple</a>
  </div>

  <div class="enabled" style="display: none;">
    <a class="disable" href="#">Désactiver la sélection multiple</a>
    
    <ul class="actions">
      <li><a href="#" class="remove">Supprimer les lignes</a></li>
      <li><a href="#" class="export">Exporter les lignes</a></li>
    </ul>

    <a class="select_all" href="#">Tout sélectionner</a> | <a class="deselect_all" href="#">désélectionner</a>
  </div>
</div>

<% end %>
