<%= title_tag t('lines.show.title', :line => @line.name ) %>

<div class="line_show">
  <%= @map.to_html %>

  <div class="summary">
    <p>
      <label><%= @line.human_attribute_name(:network) %>: </label>
  	<% if @line.network.nil? %>
  	   <%= t('lines.index.unset') %> 
  	<% else %>
      <%= link_to @line.network.name, [@referential, @line.network] %>
    <% end %>
    </p>
    <p>
      <label><%= @line.human_attribute_name(:company) %>: </label>
  	<% if @line.company.nil? %>
  	   <%= t('lines.index.unset') %>
  	<% else %>
      <%= link_to @line.company.name, [@referential, @line.company] %>
    <% end %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("name") %>: </label>
      <%= @line.name %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("published_name") %>: </label>
      <%= @line.published_name %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("registration_number") %>: </label>
      <%= @line.registration_number %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("number") %>: </label>
      <%= @line.number %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("transport_mode_name") %>: </label>
      <%= t("transport_modes.label.#{@line.transport_mode}") %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("comment") %>: </label>
      <%= @line.comment %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("objectid") %>: </label>
      <%= @line.objectid %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("creation_time") %>: </label>
      <%= l(@line.creation_time) %>
    </p>
    <p>
      <label><%= @line.human_attribute_name("creator_id") %>: </label>
      <%= @line.creator_id %>
    </p>
  </div>
</div>

<h3 class="routes"><%= t('.itineraries') %></h3>

<div class="routes paginated_content">
  <%= render :partial => "routes/route", :collection => @routes %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('lines.actions.edit'), edit_referential_line_path(@referential, @line), :class => "edit" %></li>
  <li><%= link_to  t('lines.actions.destroy'), referential_line_path(@referential, @line), :method => :delete, :confirm =>  t('lines.actions.destroy_confirm'), :class => "remove" %></li>
  <li><%= link_to t('routes.actions.new'), new_referential_line_route_path(@referential, @line), :class => "add" %></li> 
  <br>
</ul>
<% end %>
