<%= semantic_form_for [@referential, @time_table] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :comment %>
    <%= form.input :version %> 
  <% end %>
  <%= form.inputs :class => 'day_type' do %> 
    <label class="day_type_label"><%= @time_table.human_attribute_name("peculiarities") %></label>
    <%= form.input :school_holliday, :as => :boolean, :class => "others" %> 
    <%= form.input :public_holliday, :as => :boolean %> 
  <% end %>
  <%= form.inputs do %> 
    <%= form.input :objectid, :required => !@time_table.new_record? %>  
  <% end %>
  
  <h3 class="time_table_periods">
	<a class="periods"><%= @time_table.human_attribute_name("periods") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>
  	
  </h3>
  <div class="periods content"  id="periods_content">
	  <%= form.inputs :class => 'day_type' do %> 
	    <label class="day_type_label"><%= @time_table.human_attribute_name("day_types") %></label>
	    <%= form.input :monday, :as => :boolean, :class => "others" %> 
	    <%= form.input :tuesday, :as => :boolean %> 
	    <%= form.input :wednesday, :as => :boolean %> 
	    <%= form.input :thursday, :as => :boolean %> 
	    <%= form.input :friday, :as => :boolean %> 
	    <%= form.input :saturday, :as => :boolean %> 
	    <%= form.input :sunday, :as => :boolean %> 
	  <% end %>
	  <div id="periods">
		  <%= form.semantic_fields_for :periods do |p| %>
		     <%= render "period_fields",  :f => p %> 
		  <% end %>
	  </div>
	  <%= link_to_add_association t("time_tables.actions.add_period"), form, :periods ,
	  :"data-association-insertion-method" => "append",
	  :"data-association-insertion-node" => "div#periods"%>
  </div>
  
  <h3 class="time_table_dates">
	<a class="dates"><%= @time_table.human_attribute_name("dates") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>
  </h3>

  <div class="dates content"  id="dates_content">
	  <div id="dates">
		  <%= form.semantic_fields_for :dates do |p| %>
		     <%= render "date_fields",  :f => p %> 
		  <% end %>
	  </div>
	  <%= link_to_add_association t("time_tables.actions.add_date"), form, :dates ,
	  :"data-association-insertion-method" => "append",
	  :"data-association-insertion-node" => "div#dates" %>
  </div>
  
  <p/>
   <%= form.actions do %>
     <%= form.action :submit, :as => :button %>
     <%= form.action :cancel, :as => :link %>
   <% end %>
<% end %>



