<%= semantic_form_for [@referential, @time_table] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :comment %>
    <%= form.input :version %> 
  <% end %>
  <%= form.inputs :class => 'day_type' do %> 
    <label class="day_type_label"><%= @time_table.human_attribute_name("day_types") %></label>
    <%= form.input :monday, :as => :boolean, :class => "others" %> 
    <%= form.input :tuesday, :as => :boolean %> 
    <%= form.input :wednesday, :as => :boolean %> 
    <%= form.input :thursday, :as => :boolean %> 
    <%= form.input :friday, :as => :boolean %> 
    <%= form.input :saturday, :as => :boolean %> 
    <%= form.input :sunday, :as => :boolean %> 
  <% end %>
  <%= form.inputs do %> 
    <% if @time_table.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @time_table.human_attribute_name("objectid") %>: </label>
      <%= @time_table.objectid %>
      </li>
    <% end %>
  <% end %>
<!--  
  <div id='periods'>
    <label><%= @time_table.human_attribute_name("periods") %>: </label>
    <%= form.semantic_fields_for :periods do |period| %>
      <%= render 'period_fields', :f => period %>
    <% end %> 
    <div class='links'>
      <%= link_to_add_association t('time_tables.edit.add_period'), form, :periods %>
    </div>
  </div>
  <p/>
  <div id='dates'>
    <label><%= @time_table.human_attribute_name("dates") %>: </label>
    <%= form.semantic_fields_for :dates do |date| %>
      <%= render 'date_fields', :f => date %>
    <% end %> 
    <div class='links'>
      <%= link_to_add_association t('time_tables.edit.add_date'), form, :dates %>
    </div>
  </div>
-->
  <%= form.buttons do %>
    <%= form.commit_button %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
<% end %>

<!-- 
<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to_add_association t('time_tables.edit.add_period'), form, :periods %></li>
  <li><%= link_to_add_association t('time_tables.edit.add_date'), form, :dates %></li>
  <br>
</ul>
-->
<% end %>

