<%= semantic_form_for [@referential, @time_table] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :comment %>
    <%= form.input :version %> 
  <% end %>
  <%= form.inputs :class => 'day_type' do %> 
    <label class="day_type_label"><%= @time_table.human_attribute_name("day_types") %></label>
    <%= form.input :monday, :as => :boolean, :class => "others" %> 
    <%= form.input :tuesday, :as => :boolean %> 
    <%= form.input :wednesday, :as => :boolean %> 
    <%= form.input :thursday, :as => :boolean %> 
    <%= form.input :friday, :as => :boolean %> 
    <%= form.input :saturday, :as => :boolean %> 
    <%= form.input :sunday, :as => :boolean %> 
  <% end %>
  <%= form.inputs do %> 
    <% if @time_table.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @time_table.human_attribute_name("objectid") %>: </label>
      <%= @time_table.objectid %>
      </li>
    <% end %>
  <% end %>
  <p/>
  <%= form.buttons do %>
    <%= form.commit_button %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
<% end %>
<h3 class="dates"><%= t('.dates') %></h3>
<%= render "dates" %>


