<%= div_for(time_table) do %>
  <%= render "cell_title", time_table: time_table  %>
  <div class="info">
    <%= render "cell_info", time_table: time_table  %>
    <div class="actions">
      <%= link_to t("actions.edit"), edit_referential_time_table_path(@referential, time_table), :class => "edit" %> |
      <%= link_to t("actions.destroy"), referential_time_table_path(@referential, time_table), :method => :delete, :data => {:confirm =>  t('time_tables.actions.destroy_confirm')}, :class => "remove" %>
    </div>
  </div>
<% end %>
