<div id="index_item" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <span class="pull-right">                
        <%= link_to edit_referential_time_table_path(@referential, time_table), :class => "btn btn-default btn-sm" do %>
          <span class="fa fa-pencil"></span>
        <% end %>
        <%= link_to referential_time_table_path(@referential, time_table), :method => :delete, :data => {:confirm =>  t('companies.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm" do %>
          <span class="fa fa-trash-o"></span>
        <% end %>
      </span>
      <h5>
        <%= link_to([@referential, time_table], :class => "preview", :title => "#{Chouette::TimeTable.model_name.human.capitalize} #{time_table.comment}") do %>
        <span class="state-code <%= time_table_state_code(time_table) %>"><i class="fa fa-certificate"></i></span>
        <span class="name">
          <%= truncate(time_table.comment, :length => 20) %>          
        </span>
        <% end %>
      </h5>
    </div>                          
  </div>
  <div class="panel-body">
    <%= render "cell_info", time_table: time_table  %>
  </div>
</div>
