<%= div_for(time_table) do %>
  <%= link_to ( [@referential, time_table]) do %>
    <div class="state-code" >
      <div class="<%= time_table_state_code(time_table) %>" >
      </div>
    </div>
  <% end %>
  <div class="name">
  <%= link_to truncate(time_table.comment, :length => 30), [@referential, time_table], :title => "#{Chouette::TimeTable.model_name.human.capitalize} #{time_table.comment}"%>
  </div>
  <div class="info">
    <%= time_tables_shortest_info(time_table) %> -
    <%= composition_info(time_table) %>
    <div class="actions">  
      <%= link_to t("actions.edit"), edit_referential_time_table_path(@referential, time_table), :class => "edit" %> |
      <%= link_to t("actions.destroy"), referential_time_table_path(@referential, time_table), :method => :delete, :confirm =>  t('time_tables.actions.destroy_confirm'), :class => "remove" %>
    </div>
  </div>
<% end %>
