<% require 'calendar_helper' %>
<%= title_tag t('time_tables.show.title', :time_table => @time_table.comment )%>

<div class="time_table_show">

  <div class="resume">
    <div class="validity <%= time_table_state_code(@time_table) %>"></div>
    <label>
      <% if @time_table.bounding_dates.empty? %>
        <%= t(".resume_empty") %>
      <% else %>
        <%= t(".resume", :start_date => l(@time_table.bounding_dates.min),
                   :end_date => l(@time_table.bounding_dates.max)) %>
      <% end %>
    </label>
  </div>
  <div class="summary">
    <p>
      <label><%= @time_table.human_attribute_name("comment") %>: </label>
      <%= @time_table.comment %>
    </p>
    <p>
      <label><%= @time_table.human_attribute_name("version") %>: </label>
      <%= @time_table.version %>
    </p>
    <p>
      <label><%= @time_table.human_attribute_name("peculiarities") %>:&nbsp;&nbsp;</label>
      <% if @time_table.int_day_types & 1536 == 0 %>
        <label><%= @time_table.human_attribute_name("none") %></label>
      <% else %>
	      <% if @time_table.school_holliday %>
	      	<span class='day_type'>&nbsp;<%= @time_table.human_attribute_name("school_holliday") %>&nbsp;</span>
	      <% end %>

	      <% if @time_table.public_holliday %>
	      	<span class='day_type'>&nbsp;<%= @time_table.human_attribute_name("public_holliday") %>&nbsp;</span>
	      <% end %>

      <% end %>

    </p>
    <p>
      <label><%= @time_table.human_attribute_name("objectid") %>: </label>
      <%= @time_table.objectid %>
    </p>

  <h3 class="time_table_calendars">
	<a class="calendars"><%= @time_table.human_attribute_name("calendars") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>

  </h3>
  <div class="calendars content">
    <div class="year_choice">
      <span class="previous"> <%= link_to("<", referential_time_table_path(@referential, @time_table, :year => (@year - 1)) ) %> </span>
      <span class="year"> <%= "#{@year}" %> </span>
      <span class="next"> <%= link_to(">", referential_time_table_path(@referential, @time_table, :year => (@year + 1)) ) %> </span>
    </div>
    <div class="calendar_helper">
    <%= cal = ""
      (1..12).each do |month|
        cal << calendar(:year => @year, :month => month, :first_day_of_week => 1) do |d|
                 if @time_table.excluded_date?(d)
                   [link_to(d.mday, edit_referential_time_table_path(@referential, @time_table) ), {:class => "excluded_date"}]
                 elsif @time_table.include_in_overlap_dates?(d)
                   [link_to(d.mday, edit_referential_time_table_path(@referential, @time_table) ), {:class => "overlap_date"}]
                 elsif @time_table.include_in_dates?(d)
                   [link_to(d.mday, edit_referential_time_table_path(@referential, @time_table) ), {:class => "selected_date"}]
                 elsif @time_table.include_in_periods?(d)
                   [link_to(d.mday, edit_referential_time_table_path(@referential, @time_table) ), {:class => "selected_period"}]
                 end
               end
      end
      cal.html_safe
    %>
    </div>
  </div>


  </div>
  <h3 class="time_table_periods">
	<a class="periods"><%= @time_table.human_attribute_name("periods") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>

  </h3>
  <div class="periods content">
  	<%= render "periods" %>
  </div>

  <h3 class="time_table_dates">
	<a class="dates"><%= @time_table.human_attribute_name("dates") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>
  </h3>

  <div class="dates content">
  	<%= render "dates" %>
  </div>

  <h3 class="time_table_dates">
	<a class="excluded_dates"><%= @time_table.human_attribute_name("excluded_dates") %>
      <%= image_tag("icons/plus.png"  , :class => "switcher", :style => "display: none;") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" ) %>
    </a>
  </h3>

  <div class="excluded_dates content">
  	<%= render "excluded_dates" %>
  </div>

</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('time_tables.actions.edit'), edit_referential_time_table_path(@referential, @time_table), :class => "edit" %></li>
  <li><%= link_to t('time_tables.actions.destroy'), referential_time_table_path(@referential, @time_table), :method => :delete, :data => {:confirm =>  t('time_tables.actions.destroy_confirm')}, :class => "remove" %></li>
  <br>
</ul>

  <%= creation_tag(@time_table) %>
<% end %>
