<%= div_for(connection_link) do %>
  <%= link_to truncate(connection_link.name, :length => 30), [@referential, connection_link], :title => "Correspondance #{connection_link.name}" %>
  <div class="info">
  	<%= connection_link.human_attribute_name('departure') %> 
    <% if connection_link.departure.present? %> 
      <%= link_to_if connection_link.departure, connection_link.departure.name, referential_stop_area_path(@referential, connection_link.departure), :title => "#{connection_link.human_attribute_name('departure')} #{connection_link.departure.name}" %>
    <% else %>
      <%= connection_link.human_attribute_name("undefined") %>
    <% end %>
    &nbsp;-&nbsp;<%= connection_link.human_attribute_name('arrival') %> 
    <% if connection_link.arrival.present? %> 
      <%= link_to_if( connection_link.arrival, connection_link.arrival.name, referential_stop_area_path(@referential, connection_link.arrival), :title => "#{connection_link.human_attribute_name('arrival')} #{connection_link.arrival.name}" )  %>
    <% else %>
      <%= connection_link.human_attribute_name("undefined") %>
    <% end %>

    <div class="actions">  
      <%= link_to t("actions.edit"), edit_referential_connection_link_path(@referential, connection_link), :class => "edit" %> |
      <%= link_to t("actions.destroy"), referential_connection_link_path(@referential, connection_link), :method => :delete, :confirm =>  t('connection_links.actions.destroy_confirm'), :class => "remove" %>
    </div>
  </div>
<% end %>
