<%= title_tag t('connection_links.index.title') %> 

<%= search_form_for @q, :url => referential_connection_links_path(@referential), :html => {:method => :get} do |f| %>
  <%= f.label :name_cont, "#{t('.name')} :" %>
  <%= f.text_field :name_cont %>

<!--
  <%= f.hidden_field :departure_id_eq %>
  <%= f.hidden_field :arrival_id_eq %>
-->

  <%= f.submit t('actions.search') %> <%= t("or") %>
  <%= link_to t("cancel"), referential_connection_links_path(@referential) %>
<% end %>

<!--
<% if @q.departure_id_eq.present? %>
<p>
  <%= Chouette::ConnectionLink.human_attribute_name('departure') %> : <%= @referential.stop_areas.find(@q.departure_id_eq).name %>
</p>
<% end %>

<% if @q.arrival_id_eq.present? %>
<p>
  <%= Chouette::ConnectionLink.human_attribute_name('arrival') %> : <%= @referential.stop_areas.find(@q.arrival_id_eq).name %>
</p>
<% end %>
-->

<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @connection_links %>
</div>
<div class="connection_links paginated_content">
  <%= paginated_content(@connection_links) %>
</div>
<div class="pagination">
  <%= will_paginate @connection_links, :container => false, renderer: BootstrapPagination::Rails %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('connection_links.actions.new'), new_referential_connection_link_path(@referential), :class => "add" %></li> 
</ul>

<% end %>
