<%= title_tag t('connection_links.select_areas.title', :connection_link => @connection_link.name ) %>

<%= semantic_form_for [@referential, @connection_link] do |form| %>
<div>
  <%= form.inputs do %>
    <%= form.input :departure_id, :as => :text, :input_html => { :"data-pre" => ( @departure.present? ? [ { :id => @departure.id.to_s, :name => "#{@departure.name} [#{@departure.country_code}]" } ]: [] ).to_json }  %>
    <%= form.input :arrival_id, :as => :text, :input_html => { :"data-pre" => ( @arrival.present? ? [ { :id => @arrival.id.to_s, :name => "#{@arrival.name} [#{@arrival.country_code}]" } ]: [] ).to_json }  %>
  <% end %>

   <%= form.actions do %>
     <%= form.action :submit, :as => :button %>
     <%= form.action :cancel, :as => :link %>
   <% end %>
</div>
<% end %>

<script>
	$(function() {
		$( "#connection_link_departure_id" ).tokenInput('<%= referential_connection_link_connection_link_areas_path(@referential, @connection_link, :format => :json) %>', {
       crossDomain: false,
       prePopulate: $('#connection_link_departure_id').data('pre'),
       tokenLimit: 1,
       minChars: 3,
       hintText: '<%= t('search_hint') %>',
       noResultsText: '<%= t('no_result_text') %>',
       searchingText: '<%= t('searching_term') %>'
    });
	});

	$(function() {
		$( "#connection_link_arrival_id" ).tokenInput('<%= referential_connection_link_connection_link_areas_path(@referential, @connection_link, :format => :json) %>', {
       crossDomain: false,
       prePopulate: $('#connection_link_arrival_id').data('pre'),
       tokenLimit: 1,
       minChars: 3,
       hintText: '<%= t('search_hint') %>',
       noResultsText: '<%= t('no_result_text') %>',
       searchingText: '<%= t('searching_term') %>'
    });
	});
</script>

<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>
