<% title = @import_task.save_requested? ? "<i class='fa fa-save'></i>" : "" %>
<%= title_tag "#{title} #{@import_task.name} <span class='status status_#{@import_task.status}'>#{ t('import_tasks.show.'+@import_task.status) }</span>" %>

<div class="import_task_show">
  <div class="links">
    <%= link_to image_tag("icons/file_#{@import_task.file_path_extension}.png") + t("import_tasks.show.imported_file"),  file_to_import_referential_import_task_path(@import_task.referential, @import_task) %>
    <% if @import_task.compliance_check_task %>
      <%= link_to image_tag('icons/link_page.png') + t("import_tasks.compliance_check_task"), referential_compliance_check_task_path(@import_task.referential, @import_task.compliance_check_task) %>
    <% end %>
  </div>
  <%= render( :partial => "results_dashboard") if @import_task.completed? %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to  t('import_tasks.actions.destroy'), referential_import_task_path(@referential, @import_task), :method => :delete,  :data => {:confirm =>  t('import_tasks.actions.destroy_confirm')}, :class => "remove" %></li>
</ul>

<%= history_tag(@import_task) %>

<% end %>
