<div class="col-md-8 product_summary">
  <h2><%= t("devise.sessions.new.welcome") %></h2>
  <p><%= t("devise.sessions.new.introduction1") %></p>
  <p><%= t("devise.sessions.new.introduction2") %></p>
  <ul>
    <li>- <%= t("devise.sessions.new.introduction_item1") %></li>
    <li>- <%= t("devise.sessions.new.introduction_item2") %></li>
  </ul>
</div>
