<li class="input">
  <%= form.label vehicle_journey.human_attribute_name(:vehicle_journey_at_stop_ids), :class => "label" %>
  <table class="table-striped ce-TimeBandFormTable">
    <thead>
      <tr>
        <th>
          <%= t('vehicle_journeys.form.stop_title') %>
        </th>
        <th></th>
        <th>
          <%= t('vehicle_journeys.form.arrival') %>
        </th>
        <th>
          <%= t('vehicle_journeys.form.departure') %>
        </th>
      </tr>
    </thead>
    <tbody class="journey_pattern_dependent_list">
      <%= render :partial => 'vehicle_journey_at_stop_fields',
                 :collection => vehicle_journey.vehicle_journey_at_stops, :as => :vehicle_journey_at_stop,
                 :locals => { :vehicle_journey_at_stops_size => vehicle_journey.vehicle_journey_at_stops.size } %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>
          <%= button_tag 'data-ce-action' => 'to_departures', class: 'ce-hide btn btn-primary' do %>
            <%= t('vehicle_journeys.form.to_departures').html_safe %>
            <i class="fa fa-angle-double-right"></i>
          <% end %>
        <td>
          <%= button_tag 'data-ce-action' => 'to_arrivals', class: 'ce-hide btn btn-primary' do %>
            <i class="fa fa-angle-double-left"></i>
            <%= t('vehicle_journeys.form.to_arrivals').html_safe %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</li>

<li class="input">
  <%= form.label vehicle_journey.human_attribute_name(:journey_frequency_ids), :class => "label" %>
  <ul class="ce-FrequencyFormFields">
    <li>Plages horaires</li>
    <li><%= t('activerecord.attributes.journey_frequency.first_departure_time') %></li>
    <li><%= t('activerecord.attributes.journey_frequency.last_departure_time') %></li>
    <li><%= t('activerecord.attributes.journey_frequency.scheduled_headway_interval') %></li>
    <li></li>
    <li></li>
  </ul>
  <% form.semantic_fields_for :journey_frequencies do |journey_frequency| %>
      <%= render 'journey_frequency_fields', f: journey_frequency %>
  <% end %>
  <div class="actions-add-fields">
    <%= link_to_add_association t('journey_frequencies.form.add_line'), form, :journey_frequencies, class: 'btn btn-primary' %>
  </div>
</li>
