<div class="vehicle_journey_at_stops content">
  <table class="table-striped ce-TimeBandFormTable">
    <thead>
      <tr>
        <th class="stop title" ><%= t('vehicle_journeys.show.stop_title') %></th>
        <th></th>
        <th class="hour title"><%= t('vehicle_journeys.show.arrival') %></th>
        <th class="hour title"><%= t('vehicle_journeys.show.departure') %></th>
      </tr>
    <thead>
    <tbody>
      <% @vehicle_journey_frequency.vehicle_journey_at_stops.each do |vjas| %>
        <tr class="<%= cycle :odd, :even %>">
          <td><%= link_to vjas.stop_point.stop_area.name, [@referential, vjas.stop_point.stop_area] %></td>
          <td class="ce-TimeBandFormTable-circleLine">
            <span class="ce-TimeBandFormTable-circle"></span>
            <span class="ce-TimeBandFormTable-line"></span>
          </td>
          <td class="hour <%= 'missing' if vjas.arrival_time.nil? %>">
            <%= l(vjas.arrival_time, format: :hour) if vjas.arrival_time %>
          </td>
          <td class="hour <%= 'missing' if vjas.departure_time.nil? %>">
            <%= l(vjas.departure_time, format: :hour) if vjas.departure_time %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
