<%= semantic_form_for [@referential, @network] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :name %> 
    <%= form.input :registration_number %>  
    <%= form.input :comment %>
    <%= form.input :versiondate, :as => :date , :label => @network.human_attribute_name("version_date")%> 
    <%= form.input :description %>              
    <%= form.input :source_name %>              
    <%= form.input :source_identifier %>              
    <% if @network.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @network.human_attribute_name("objectid") %>: </label>
      <%= @network.objectid %>
      </li>
    <% end %>
  <% end %>

   <%= form.actions do %>
     <%= form.action :submit, :as => :button %>
     <%= form.action :cancel, :as => :link %>
   <% end %>
<% end %>
