<%= title_tag t('networks.index.title') %> 

<%= search_form_for @q, :url => referential_networks_path(@referential), :html => {:method => :get} do |f| %>
  <%= f.label :name_cont, "#{t('.name')} :" %>
  <%= f.text_field :name_cont %>

  <%= f.submit t('actions.search') %> <%= t("or") %>
  <%= link_to t("cancel"), referential_networks_path(@referential) %>
<% end %>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @networks %>
  </div>
  <%= will_paginate @networks, :container => false %>
</div>
<div class="networks paginated_content">
  <%= render :partial => "network", :collection => @networks %>
</div>
<div class="pagination">
  <%= will_paginate @networks, :container => false %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('networks.actions.new'), new_referential_network_path(@referential), :class => "add" %></li>
  <br>
</ul>
<% end %>
