<div id="index_item" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <span class="pull-right">                
        <%= link_to edit_referential_routing_constraint_path(@referential, routing_constraint), :class => "btn btn-default btn-sm" do %>
          <span class="fa fa-pencil"></span>
        <% end if edit %>
        <%= link_to('<span class="fa fa-trash-o"></span>'.html_safe, referential_group_of_line_path(@referential, group_of_line), :method => :delete, :data => {:confirm =>  t('routing_constraint.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm") if delete %>         
      </span>
      <h5>
        <%= link_to(referential_routing_constraint_path(@referential, routing_constraint), :class => "preview", :title => "#{Chouette::RoutingConstraint.model_name.human.capitalize} #{routing_constraint.name}") do %>        
        <span class="name">
          <%= truncate(routing_constraint.name, :length => 20) %>          
        </span>
        <% end %>
      </h5>
    </div>                          
  </div>
  <div class="panel-body">
    <p>
      <%= t('activerecord.attributes.routing_constraint.lines') %> <%=  routing_constraint.lines.count %>   
    </p>
    <p>
      <%= t('activerecord.attributes.routing_constraint.stop_areas') %> <%=  routing_constraint.stop_areas.count %>   
    </p>
  </div>
</div>
