<%= title_tag t( 'routing_constraints.show.title', routing_constraint: @routing_constraint.name )%>

<%= @map.to_html %>

<div class="summary">
  <p>
    <%= t('activerecord.attributes.routing_constraint.name') %> :
    <%= @routing_constraint.name %>
  </p>
  <p>
    <%= t('activerecord.attributes.routing_constraint.comment') %> :
    <%= @routing_constraint.comment %>
  </p>
  <ul>
    <li>
      <%= t('activerecord.attributes.routing_constraint.lines') %> :
      <ul>
      <% @routing_constraint.lines.each do |l| %>
        <li>
          <%= link_to referential_line_path(@referential, l) do %>
            <%= l.name %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <%= t('activerecord.attributes.routing_constraint.stop_areas') %> :
      <ul>
        <% @routing_constraint.stop_areas.each do |sa| %>
          <li>
            <%= image_tag stop_area_picture_url(sa) %>
            <%= link_to referential_stop_area_path(@referential, sa) do %>
              <%= sa.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<%= render 'sidebar' %>
