<li class="nested-fields">
  <ul class="ce-FrequencyFormFields">
    <%= f.input :first_departure_time %>
    <%= f.input :last_departure_time %>
    <%= f.input :scheduled_headway_interval %>
    <%= f.input :exact_time %>
    <li>
      <label class="label"></label>
      <%= link_to_remove_association f do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </li>
  </ul>
</li>
