<%= semantic_form_for [@referential, @line, @route, @journey_pattern, ] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :name, :input_html => {  :title => t("formtastic.titles#{format_restriction_for_locales(@referential)}.journey_pattern.name") } %>
    <%= form.input :published_name %>
    <%= form.input :registration_number, :input_html => {  :title => t("formtastic.titles#{format_restriction_for_locales(@referential)}.journey_pattern.registration_number") } %>              
    <%= form.input :comment %>

    <label><%= stop_point_ids_label(@journey_pattern) %> </label>
    <div class="stop-points">
      <div class="left">
        <%= form.input :stop_point_ids, :label => false, :as => :check_boxes, :collection => @route.stop_points.map { |s| [s.stop_area.name, s.id.to_s]}, :input_html => (@journey_pattern.new_record? ? { :checked => 'checked' }:{}) %>
      </div>
      <div class="right">
        <label class="destination_display_label"><%= t('.destination_displays') %></label>
        <%= form.semantic_fields_for :destination_display_ids do |dd| %>                            <!-- destination_display_ids hash (values below are nested into this fieldset)-->
          <% @route.stop_points.each do |stop_point| %>
            <%= dd.semantic_fields_for stop_point.id.to_s do |p| %>                                 <!-- id in destination_display_ids hash -->
              <%= render "stop_points/stop_point_fields", :p => p, :stop_point => stop_point %>     <!-- fieldset/values (also a hash) on id -->
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= form.input :objectid, :required => !@journey_pattern.new_record?, :input_html => {  :title => t("formtastic.titles#{format_restriction_for_locales(@referential)}.journey_pattern.objectid") } %>
  <% end %>

   <%= form.actions do %>
     <%= form.action :submit, :as => :button %>
     <%= form.action :cancel, :as => :link %>
   <% end %>
<% end %>

