  <div id="clean_up" >
  <%= semantic_form_for [@referential, CleanUp.new] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :expected_date, :as => :date_picker , :wrapper_html => { :class => 'date' }%>
    <%= form.input :keep_lines, :as => :boolean %>
    <%= form.input :keep_stops, :as => :boolean %>
    <%= form.input :keep_companies, :as => :boolean %>
    <%= form.input :keep_networks, :as => :boolean %>
    <%= form.input :keep_group_of_lines, :as => :boolean %>
    <% end %>
    <%= form.actions do %>
      <%= form.action :submit, :as => :button, :label => t('clean_ups.actions.clean_up') , :button_html => {:data => {:confirm => t('clean_ups.actions.confirm') }}%>
    <% end %>
  <% end %>
  </div>
