<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= t(".objects") %></div>

  <ul class="list-group"  width="75%">
    <li class="list-group-item">
      <span class="badge"><%= @referential.networks.size %></span>
      <%= link_to referential_networks_path(@referential) do  %>
        <%= Referential.human_attribute_name("networks") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.companies.size %></span>
      <%= link_to referential_companies_path(@referential) do  %>
        <%= Referential.human_attribute_name("companies") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.group_of_lines.size %></span>
      <%= link_to referential_group_of_lines_path(@referential) do  %>
        <%= Referential.human_attribute_name("group_of_lines") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.lines.size %></span>
      <%= link_to referential_lines_path(@referential) do  %>
        <%= Referential.human_attribute_name("lines") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.vehicle_journeys.size %></span>
      <%= Referential.human_attribute_name("vehicle_journeys") %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.time_tables.size %></span>
      <%= link_to referential_time_tables_path(@referential) do  %>
        <%= Referential.human_attribute_name("time_tables") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.interchanges.size %></span>
      <%= link_to referential_interchanges_path(@referential) do  %>
          <%= Referential.human_attribute_name("interchanges") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.connection_links.size %></span>
      <%= Referential.human_attribute_name("connection_links") %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.route_sections.size %></span>
      <%= link_to referential_route_sections_path(@referential) do  %>
        <%= Referential.human_attribute_name("route_sections") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.stop_areas.size %></span>
      <%= link_to referential_stop_areas_path(@referential) do  %>
        <%= Referential.human_attribute_name("stop_areas") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.codespaces.size %></span>
      <%= link_to referential_codespaces_path(@referential) do  %>
          <%= Referential.human_attribute_name("codespaces") %>
      <% end %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @referential.destination_displays.size %></span>
      <%= link_to referential_destination_displays_path(@referential) do  %>
          <%= Referential.human_attribute_name("destination_displays") %>
      <% end %>
    </li>
  </ul>
</div>
