  <table class="count" width="75%"> 
  	<thead>
  		<tr>
  		<td  colspan="2"><%= t(".objects") %></td>
  		<td><%= t(".count") %></td>		
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("networks") %></td>
  		<td class="value"> <%= @referential.networks.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("companies") %></td>
  		<td class="value"> <%= @referential.companies.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("group_of_lines") %></td>
  		<td class="value"> <%= @referential.group_of_lines.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("lines") %></td>
  		<td class="value"> <%= @referential.lines.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("vehicle_journeys") %></td>
  		<td class="value"> <%= @referential.vehicle_journeys.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("time_tables") %></td>
  		<td class="value"> <%= @referential.time_tables.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("connection_links") %></td>
  		<td class="value"> <%= @referential.connection_links.size %></td>		
  		</tr>
  		<tr>
   		<td class="object" colspan="2"><%= Referential.human_attribute_name("stop_areas") %></td>
  		<td class="value"> <%= @referential.stop_areas.size %></td>		
  		</tr>
  		<tr>
   		<td class="image"><%= image_tag "map/boarding_position.png"%></td>
   		<td class="object"><%= Referential.human_attribute_name("boarding_positions") %></td>
  		<td class="value"> <%= @referential.stop_areas.where("area_type = ?","BoardingPosition").size %></td>		
  		</tr>
  		<tr>
   		<td class="image"><%= image_tag "map/quay.png"%></td>
   		<td class="object"><%= Referential.human_attribute_name("quays") %></td>
  		<td class="value"> <%= @referential.stop_areas.where("area_type = ?","Quay").size %></td>		
  		</tr>
  		<tr>
   		<td class="image"><%= image_tag "map/commercial_stop_point.png"%></td>
   		<td class="object"><%= Referential.human_attribute_name("commercial_stops") %></td>
  		<td class="value"> <%= @referential.stop_areas.where("area_type = ?","CommercialStopPoint").size %></td>		
  		</tr>
  		<tr>
   		<td class="image"><%= image_tag "map/stop_place.png"%></td>
   		<td class="object"><%= Referential.human_attribute_name("stop_places") %></td>
  		<td class="value"> <%= @referential.stop_areas.where("area_type = ?","StopPlace").size %></td>		
  		</tr>
  		<tr>
   		<td class="image"><%= image_tag "map/itl.png"%></td>
   		<td class="object"><%= Referential.human_attribute_name("itls") %></td>
  		<td class="value"> <%= @referential.stop_areas.where("area_type = ?","ITL").size %></td>		
  		</tr>
  	</tbody>
  </table>
