<%= semantic_form_for @referential do |form| %>
  <%= form.inputs do %> 
    <%= form.input :name %> 
    <% if @referential.new_record? %>
      <%= form.input :slug%>
    <% else %>
      <li>
      <label><%= @referential.human_attribute_name("slug") %></label>
      <%= @referential.slug %>
      </li>
    <% end %>
    <%= form.input :prefix%>
    <%= form.input :projection_type%>
    <%= form.input :time_zone%>

    <% if @referential.new_record? %>
    <%= form.input :resources, :as => :file %>
    <% end %>
  <% end %>


  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('back'), :back %></li>
  <% end %>
<% end %>
