<%= semantic_form_for @referential, :class => "form-horizontal" do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <% if @referential.new_record? %>
      <%= form.input :slug, :input_html => { :title => t("formtastic.titles.referential.slug")}%>
    <% else %>
      <li class="input">
      <label class="label" ><%= @referential.human_attribute_name("slug") %></label>
      <%= @referential.slug %>
      </li>
    <% end %>
    <%= form.input :prefix, :input_html => { :title => t("formtastic.titles.referential.prefix")} %>
    <%= form.input :projection_type, :as => :select, :collection => Referential.available_srids %>
    <%= form.input :time_zone %>
    <%= form.input :upper_corner, :input_html => { :title => t("formtastic.titles.referential.upper_corner")} %>
    <%= form.input :lower_corner, :input_html => { :title => t("formtastic.titles.referential.lower_corner")} %>
    <%= form.input :data_format, :label => true %>
  <% end %>

  <%= form.actions do %>
    <%= form.action :submit, :as => :button %>
    <%= form.action :cancel, :as => :link %>
  <% end %>
<% end %>
