<%= title_tag @referential.name %>

<div class="summary">
  <p>
  <label><%= Referential.human_attribute_name("slug") %>: </label>
  <%= @referential.slug %>
  </p>
  <p>
  <label><%= Referential.human_attribute_name("prefix") %>: </label>
  <%= @referential.prefix %>
  </p>
  <p>
  <label><%= Referential.human_attribute_name("projection_type") %>: </label>
  <%= @referential.projection_type %>
  </p>
  <p>
  <label><%= Referential.human_attribute_name("time_zone") %>: </label>
  <%= @referential.time_zone %>
  </p>
  
  <table class="count"> 
  	<thead>
  		<tr>
  		<td><%= t(".objects") %></td>
  		<td><%= t(".count") %></td>		
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("networks") %></td>
  		<td class="value"> <%= @referential.networks.size %></d>		
  		</tr>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("lines") %></td>
  		<td class="value"> <%= @referential.lines.size %></d>		
  		</tr>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("companies") %></td>
  		<td class="value"> <%= @referential.companies.size %></d>		
  		</tr>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("stop_areas") %></td>
  		<td class="value"> <%= @referential.stop_areas.size %></d>		
  		</tr>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("time_tables") %></td>
  		<td class="value"> <%= @referential.time_tables.size %></d>		
  		</tr>
  		<tr>
   		<td class="object"><%= Referential.human_attribute_name("connection_links") %></td>
  		<td class="value"> <%= @referential.connection_links.size %></d>		
  		</tr>
  	</tbody>
  </table>
</div>  

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('referentials.actions.edit'), edit_referential_path(@referential), :class => "edit" %></li>
  <li><%= link_to t('referentials.actions.destroy'), referential_path(@referential), :method => :delete, :confirm =>  t('referentials.actions.destroy_confirm'), :class => "remove" %></li>
  <br>
</ul>
<% end %>
