<div id="index_item" class="destination_display panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <% if policy(:application).write? %>
        <span class="pull-right">
          <%= link_to edit_referential_destination_display_path(@referential, destination_display), :class => "btn btn-default btn-sm" do %>
            <span class="fa fa-pencil"></span>
          <% end %>
          <%= link_to referential_destination_display_path(@referential, destination_display), :method => :delete, :data => {:confirm =>  t('destination_displays.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm" do %>
            <span class="fa fa-trash-o"></span>
          <% end %>
        </span>
      <% end %>
      <h5>
        <%= link_to([@referential, destination_display], :class => "preview", :title => "#{destination_display.name}") do %>
        <span class="xmlns">
          <%= destination_display.name %>
        </span>
        <% end %>
      </h5>
    </div>
  </div>
  <div class="panel-body">
    <p><%= destination_display.front_text %></p>
    <p><%= destination_display.side_text %></p>
    <p>
    <%= t('.vias') %>: <% if destination_display.vias.blank? %>
          <%= t(".no_object") %>
      <% else %>
          <% destination_display.vias.each do |via| %>
              <span class="label label-default via"><%= via.front_text %></span>
          <% end %>
      <% end %>
    </p>
  </div>
</div>
