<%= title_tag t('destination_displays.show.title', :destination_display => @destination_display.name) %>

<div class="destination_display_show">

  <div class="summary">
    <p>
      <label><%= Chouette::DestinationDisplay.human_attribute_name("front_text") %>: </label>
      <%= @destination_display.front_text %>
    </p>
    <p>
      <label><%= Chouette::DestinationDisplay.human_attribute_name("side_text") %>: </label>
      <%= @destination_display.side_text %>
    </p>
    <p>
      <label><%= t('.vias') %>: </label>
        <% if @destination_display.vias.blank? %>
            <%= t(".no_object") %>
        <% else %>
            <% @destination_display.vias.each do |via| %>
                <span class="label label-default via"><%= via.front_text %></span>
            <% end %>
        <% end %>
    </p>
  </div>
</div>

<% content_for :sidebar do %>
    <ul class="actions">
      <li><%= link_to t('destination_displays.actions.new'), new_referential_destination_display_path(@referential), :class => "add" %></li>
      <li><%= link_to t('destination_displays.actions.edit'), edit_referential_destination_display_path(@referential, @destination_display), :class => "edit" %></li>
      <li><%= link_to  t('destination_displays.actions.destroy'), referential_destination_display_path(@referential, @destination_display), :method => :delete,  :data => {:confirm =>  t('destination_displays.actions.destroy_confirm')}, :class => "remove" %></li>
    </ul>
    <%= creation_tag(@destination_display) %>
<% end %>
