<div id="index_item" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <span class="pull-right">
        <%= link_to referential_compliance_check_path(@referential, compliance_check.id), :method => :delete, :data => {:confirm =>  t('compliance_checks.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm" do %>
          <span class="fa fa-trash-o"></span>
        <% end %>
      </span>
      <h5>
        <%= link_to( referential_compliance_check_path(@referential, compliance_check.id), :class => "preview", :title => "#{ComplianceCheck.model_name.human.capitalize} #{compliance_check.name}") do %>        
        <span class="name">
          <%= truncate(compliance_check.name, :length => 20) %>          
        </span>
        <% end %>
      </h5>
    </div>                          
  </div>
  <div class="panel-body">
     <!-- % if compliance_check.import.present? % -->
      <p><!-- %= link_to( image_tag('icons/link_page.png') + t("compliance_checks.import"), referential_import_path(@referential, compliance_check.import)) % --></p>
      <!-- % end % -->
      <% if compliance_check.rule_parameter_set %>
      <p><%= link_to( image_tag('icons/link_page.png') + t("compliance_checks.actions.rule_parameter_set"), rule_parameter_set_referential_compliance_check_path(@referential, compliance_check.id)) %></p>
      <% end %>
  </div>
  <div class="panel-footer">
    <%= compliance_check_progress_bar_tag(compliance_check) %>    
    <div class="history">
      <%= l compliance_check.created_at, :format => "%d/%m/%Y %H:%M" %> | <%= compliance_check.user_name %>
    </div>
  </div>
</div>
