<div class="test">
  <%= title_tag job_status_title(@compliance_check) %>
</div>
<% if @compliance_check.report.failure_code? %>
<div class="alert alert-danger">
  <%= t("iev.failure.#{@compliance_check.report.failure_code}") %>
</div>
<% end %>
<div class="progress_bars">
  <%= progress_bar_tag(@compliance_check) %>
</div>
<div class="compliance_check show">
  <div class="links">
    <%= link_to font_awesome_classic_tag("fa-external-link") + t("compliance_checks.actions.report"), report_referential_compliance_check_path(@referential, @compliance_check.id) if @compliance_check.report? %>
  </div>
  <%= render( :partial => "shared/ie_report.html", :locals => { :referential => @referential, :job => @compliance_check} ) %>
</div>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('compliance_checks.actions.destroy'), referential_compliance_check_path(@referential, @compliance_check.id), :method => :delete, :data => {:confirm => t('compliance_checks.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@compliance_check) %>

<% end %>
