<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @column_names.each do |column_name|%>
          <Cell><Data ss:Type="String"><%= column_name %></Data></Cell>
        <% end %>
      </Row>
    <% @stop_areas.each do |stop_area| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= stop_area.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= stop_area.longitude %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= stop_area.latitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.area_type %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= stop_area.parent_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.comment %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.country_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.street_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.mobility_restricted_suitability %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.stairs_availability %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.lift_availability %></Data></Cell>
        <Cell><Data ss:Type="String"><%= stop_area.int_user_needs %></Data></Cell>        
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
