<%= simple_form_for [:organisation, @user], html: {class: 'form-horizontal' } do |form| %>
  <%= form.input :name %> 
  <%= form.input :email %>
  

  <div class="form-actions">
    <%= link_to t("cancel"), organisation_path, :class => "btn btn-default" %>
    <%= form.button :submit, :as => :button %>
  </div>
<% end %>
