<%= title_tag @user.email %>

<div class="user">
<p>
<label><%= User.human_attribute_name("name") %>: </label>
<%= @user.name %>
</p>
<p>
<label><%= User.human_attribute_name("email") %>: </label>
<%= @user.email %>
</p>
</div>

<% content_for(:sidebar) do %>
  <ul class="actions">
    <li><%= link_to( t('users.actions.edit'), edit_user_registration_path, :class => "edit") if @user == current_user %></li>
    <li><%= link_to t('users.actions.destroy'), organisation_user_path(@user),:method => :delete, :data => {:confirm => t('users.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>
<% end %>
