<div class="panel panel-default">
  <div class="panel-heading"><%= t('.title') %></div>
  <div class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |form| %>
      <%= form.input :email %> 

      <%= link_to t("cancel"), root_path, :class => "btn btn-default" %>    
      <%= form.button :submit, :value => t("devise.passwords.new.commit") %>
    <% end %>
  </div>
</div>


