<div class="container">
  <div class="row">
    <div class="col-md-3 logo">
      <%= image_tag "#{ChouetteIhm::Application.config.company_name}.png" %>
    </div>
    <div class="col-md-3">
      <ul>
        <li><h4><%= t("layouts.footer.product.title") %></h4></li>
        <li><%= link_to t("layouts.footer.product.licence"), "http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html", :target => "_blank" %></li>
        <li><%= link_to t("layouts.footer.product.source_code"), "https://github.com/afimb/chouette2", :target => "_blank" %></li>
        <li><%= link_to t("layouts.footer.product.user_group"), "http://www.chouette.mobi/club-utilisateurs/", :target => "_blank" %></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><h4><%= t("layouts.footer.support.title") %></h4></li>
        <li>
          <% if ChouetteIhm::Application.config.company_contact.include?("@") %>
            <%= mail_to "#{ChouetteIhm::Application.config.company_contact}", t("layouts.footer.contact.mail") %>
          <% else %>
            <%= link_to t("layouts.footer.contact.mail"), "#{ChouetteIhm::Application.config.company_contact}", :target => "_blank" %>
          <% end %>
        </li>
        <li><%= link_to t("layouts.footer.support.help"), help_path, :target => "chouette_help" %></li>
      </ul>
    </div>
  </div>
</div>
