<p class="lead">
<p class="caption"><%= t(".graph.files.title_default", {:job => job.class.model_name.human, :extension => job.filename_extension} ) %></p>
</p>
<div class="report results" data-refresh-interval="<%= job_refresh_interval(job) %>">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th class="state"><%= t(".table.line.state") %></th>
        <th class="name"><%= t(".table.line.name") %></th>
        <th class="error"><%= t(".table.line.error") %></th>
      </tr>
    </thead>
    <tbody>
      <% job.report.files.each do |file| %>
        <tr class="<%= file.status == 'ERROR' ? 'danger' : nil %>">
          <td><%= t(".graph.files.#{file.status.downcase}") %></td>
          <td><%= file.name %></td>
          <td><%= file.errors.map{|e| "#{e.code} : #{e.description}"}.join(' | ') if file.errors.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
