<%= semantic_form_for [@referential, @line, @route, @vehicle_journey] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :published_journey_name %>
    <%= form.input :published_journey_identifier %>
    <%= form.input :comment %>              
    <%= form.input :transport_mode, :as => :select, :collection => Chouette::Line.transport_modes, :include_blank => false, :member_label => Proc.new { |mode| t("transport_modes.label.#{mode}") }  %>
    <%= form.input :status_value %>              
    <%= form.input :facility %>              
    <%= form.input :vehicle_type_identifier%>              
    <% if @vehicle_journey.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @vehicle_journey.human_attribute_name("objectid") %>: </label>
      <%= @vehicle_journey.objectid %>
      </li>
    <% end %>
    
    <%= render :partial => "vehicle_journeys/vehicle_journey_at_stop_fields" %>
    
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
<% end %>

