<% unless @vehicle_journey.vehicle_journey_at_stops.empty? || @vehicle_journey.vehicle_journey_at_stops.any? { |vjas| vjas.departure_time.nil? } %>
  <div class="vehicle_journey_at_stops">
    <div class="well">
      <span class="title"><%= t('vehicle_journeys.form.slide_title') %></span>
      <div>
        <span><%= t('vehicle_journeys.form.set') %></span>
        <%= select_tag '', options_for_select( [ [t('vehicle_journeys.form.slide_departure'), "departure"], [t('vehicle_journeys.form.slide_arrival'), "arrival"] ] ), :class => "departure_or_arrival" %>
        <span><%= t('vehicle_journeys.form.to') %></span>
        <%= select_hour(@vehicle_journey.vehicle_journey_at_stops.first.departure_time.hour) %>
        <%= select_minute(@vehicle_journey.vehicle_journey_at_stops.first.departure_time.min) %>
        <a class="slide btn btn-default"><%= t('vehicle_journeys.form.slide') %></a>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="hour title"><%= t('vehicle_journeys.form.arrival') %></th>
      <th class="stop title"><%= t('vehicle_journeys.form.stop_title') %></th>
      <th class="hour title"><%= t('vehicle_journeys.form.departure') %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="title"><a class="to_departures"><%= t('vehicle_journeys.form.to_departures') %></a></td>
      <td class="title"></td>
      <td class="title"><a class="to_arrivals"><%= t('vehicle_journeys.form.to_arrivals') %></a></td>
    </tr>
  </tfoot>
  <tbody class="journey_pattern_dependent_list">
    <%= render :partial => "vehicle_journeys/vehicle_journey_at_stop_fields",
               :collection => @vehicle_journey.vehicle_journey_at_stops, :as => :vehicle_journey_at_stop,
               :locals => { :vehicle_journey_at_stops_size => @vehicle_journey.vehicle_journey_at_stops.size } %>
  </tbody>
</table>
