<div class="vehicle_journey_at_stops content">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th class="hour title"><%= t('vehicle_journeys.show.arrival') %></th>
      <th class="stop title" ><%= t('vehicle_journeys.show.stop_title') %></th>
      <th class="hour title"><%= t('vehicle_journeys.show.departure') %></th>
      <th class="hour title"><%= t('vehicle_journeys.show.footnotes') %></th>
    </tr>
    <thead>
    <tbody>
    <% @vehicle_journey.vehicle_journey_at_stops.each_with_index do |vjas, index| %>
      <tr class="<%= index%2==0 ? "odd" : "even" %>">
        <td class="hour <%= vjas.arrival_time.nil? ? "missing" : "" %>">
          <%= vjas.arrival_time ? l( vjas.arrival_time, :format => :hour) : "" %>
          <%= "#{t('day')[0]}+#{vjas.arrival_day_offset}" if vjas.arrival_day_offset > 0 %>
        </td>
        <td><%= link_to stop_name(vjas), [@referential, vjas.stop_point.stop_area] %></td>
        <td class="hour <%= vjas.departure_time.nil? ? "missing" : "" %>">
          <%= vjas.departure_time ? l( vjas.departure_time, :format => :hour) : "" %>
          <%= "#{t('day')[0]}+#{vjas.departure_day_offset}" if vjas.departure_day_offset > 0 %>
        </td>
        <td>
          <% vjas.footnotes.each do |footnote| %>
            <li><%= footnote.code %> : <%= footnote.label %></li>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
