<p>
  <%= Chouette::JourneyPattern.model_name.human %> : <%= link_to journey_name( vehicle_journey.journey_pattern ), [@referential, @line, @route, vehicle_journey.journey_pattern] %>
  <%= "<br>#{I18n.t('activerecord.attributes.vehicle_journey.number')} : #{vehicle_journey.number}".html_safe if vehicle_journey.number %>
  <%= "<br>#{I18n.t('activerecord.attributes.vehicle_journey.objectid')} : #{vehicle_journey.objectid}".html_safe if vehicle_journey.objectid %>
</p>
<p>
  <%= vehicle_journey.time_tables.size %> <%= Chouette::TimeTable.model_name.human.pluralize %> <small><%= vehicle_journey.presenter.time_tables_shortest_info %></small> :
  <ul>
    <% vehicle_journey.time_tables.limit(4).each do |time_table| %>
    <li>
      <%= link_to [@referential, time_table]  do %>
      <span class="state-code <%= time_table.presenter.time_table_state_code %>"><i class="fa fa-certificate"></i></span> <%= time_table.comment %>
      <% end %>
      <% if time_table.tag_list.present? %>
      <br>
      <span class="time_table_info"><%= truncate(time_table.tag_list.to_s, :length => 35) %></span>
      <% end %>
      <br>
      <% %w(monday tuesday wednesday thursday friday saturday sunday).each do |day_type| %>
        <span class="<%= time_table.send( day_type) ? "included_day_type" : "excluded_day_type"%> time_table_info">
          <%= time_table.human_attribute_name(day_type).first(2) %>
        </span>
        <% end %>
        <span class="bounding"><%= time_table.presenter.time_table_bounding %></span>
    </li>
    <% end %>
  </ul>
</p>
