<%
  vjas = vehicle_journey_at_stop
  tab_counter_arrival = 2 * vehicle_journey_at_stop_counter + 100
  tab_counter_departure = (vehicle_journey_at_stops_size * 2) + 2 * vehicle_journey_at_stop_counter + 100
%>
<tr class="time input optional <%= 'no_stop' if vjas._destroy %> <%= cycle :odd, :even %>" >
  <td>
    <%= {
            id: vjas.id,
            _destroy: (vjas._destroy ? 1 : 0),
            stop_point_id: vjas.stop_point_id,
            :'departure_time(3i)' => 1,
            :'departure_time(2i)' => 1,
            :'departure_time(1i)' => 1,
            :'arrival_time(3i)' => 1,
            :'arrival_time(2i)' => 1,
            :'arrival_time(1i)' => 1
        }.map{ |k, v|
      "<input name=\"#{class_name}[vehicle_journey_at_stops_attributes][#{vehicle_journey_at_stop_counter}][#{k}]\"
                  type=\"hidden\" value=\"#{v}\">" }.join("\n").html_safe %>

    <%= vjas.stop_point.stop_area.name %>
  </td>
  <td class="ce-VehicleJourneyAtStopFormTable-circleLine">
    <span class="ce-VehicleJourneyAtStopFormTable-circle"></span>
    <span class="ce-VehicleJourneyAtStopFormTable-line"></span>
  </td>
  <td class="arrival_time <%= 'missing' unless vjas.arrival_time %> <%= 'invalid_position' if vjas.errors[:arrival_time].present?  %>">
    <%= number_field_tag "#{class_name}[vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][arrival_day_offset]]", vjas.arrival_day_offset,
                         :min => 0, :step => 1, tabindex: tab_counter_arrival + 1, :class => 'day_offset' %>
    <%= select_hour(vjas.arrival_time ? vjas.arrival_time.hour : 0,
                    {
                        prefix: class_name,
                        field_name: "vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][arrival_time(4i)]"
                    }, class: 'hour', tabindex: tab_counter_arrival + 2) %>
    <%= select_minute(vjas.arrival_time ? vjas.arrival_time.min : 0,
                    {
                        prefix: class_name,
                        field_name: "vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][arrival_time(5i)]"
                    }, class: 'minute', tabindex: tab_counter_arrival + 3) %>
  </td>
  <td class="departure_time <%= 'missing' unless vjas.departure_time %> <%= 'invalid_position' if vjas.errors[:departure_time].present? %>">
    <%= number_field_tag "#{class_name}[vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][departure_day_offset]]", vjas.departure_day_offset,
                         :min => 0, :step => 1, tabindex: tab_counter_departure + 1, :class => 'day_offset' %>
    <%= select_hour(vjas.departure_time ? vjas.departure_time.hour : 0,
                    {
                        prefix: class_name,
                        field_name: "vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][departure_time(4i)]"
                    }, class: 'hour', tabindex: tab_counter_departure + 2) %>
    <%= select_minute(vjas.departure_time ? vjas.departure_time.min : 0,
                    {
                        prefix: class_name,
                        field_name: "vehicle_journey_at_stops_attributes[#{vehicle_journey_at_stop_counter}][departure_time(5i)]"
                    }, class: 'minute', tabindex: tab_counter_departure + 3) %>
  </td>
</tr>
