<div class="page_info">
  <span class="search"><%= t("will_paginate.page_entries_info.search") %></span>
  <%= page_entries_info @vehicle_journeys %>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div>
<div class="vehicle_journeys paginated_content">
  <%= render 'vehicle_journeys_matrix' %>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div> 
