<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="title">
        <button data-style="primary" data-container="body" rel="popover" data-toggle="popover" title='<%= t(".line_routes") %>'
                data-placement="top" data-content='<%= render( partial: "route_popover", :locals => { :selected_route => @route }) %>'
                class="route_popover btn btn-default btn-sm">
          <i class='fa fa-search'></i>
          <%= Chouette::Route.model_name.human.capitalize %>
        </button>
      </th>
      <% @vehicle_journeys.each do |vj| %>
        <th class="vehicle_journey">
          <div>
            <%= special_vehicle_journey_icon(:mobility_restricted_suitability, vj) %>
            <%= special_vehicle_journey_icon(:flexible_service, vj) %>
          </div>
          <button data-style="primary" data-container="body" rel="popover" data-toggle="popover"
                  data-title='<%= link_to(vehicle_title(vj), [@referential, @line, @route, vj] ) %>
                      <%= link_to('<span class="fa fa-pencil"></span>'.html_safe,
                                  send("edit_referential_line_route_vehicle_journey#{'_frequency' if vj.frequency?}_path", @referential, @line, @route, vj),
                                  :class => "btn btn-default btn-sm" ) %>
                      <%= link_to('<span class="fa fa-remove"></span>'.html_safe,
                                  send("referential_line_route_vehicle_journey#{'_frequency' if vj.frequency?}_path", @referential, @line, @route, vj),
                                  :class => "btn btn-danger btn-sm", :method => :delete, 'data-confirm' => t('vehicle_journeys.actions.destroy_confirm')) %>'
                  data-placement= "top"
                  data-content='<%= render( partial: "show_popover", :locals => { :vehicle_journey => vj }) %>'
                  class="vehicle_journey_popover btn btn-default btn-sm">
            <i class='fa fa-search'></i>
          </button>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @route.stop_points.each_with_index do |sp, index| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="stop_area"><% if sp.stop_area != nil %><%= sp.stop_area.name %><% end %></td>
        <% @vehicle_journeys.each do |vj| %>
          <td class="hours <%= missing_time_check(@matrix["#{vj.id}-#{sp.id}"]) %><%= ' ce-VehicleJourneyBlock-frequency' if vj.frequency? %>">
            <%= (@matrix["#{vj.id}-#{sp.id}"] && @matrix["#{vj.id}-#{sp.id}"].departure_time) ? l( @matrix["#{vj.id}-#{sp.id}"].departure_time, :format => :hour) : "--" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
