<div class="page_info">
  <span class="search"><%= t("will_paginate.page_entries_info.search") %></span>
  <%= page_entries_info @vehicle_journeys %>
  <span class="pull-right">
    <% if controller_name == 'vehicle_journey_frequencies' && exist_vehicle_journeys?(@route) %>
      <i class="fa fa-clock-o"></i>
      <%= link_to t("vehicle_journeys.actions.show"), referential_line_route_vehicle_journeys_path(@referential, @line, @route) %>
    <% elsif controller_name == 'vehicle_journeys' && exist_vehicle_journey_frequencies?(@route) %>
      <i class="fa fa-clock-o"></i>
      <%= link_to t("vehicle_journey_frequencies.actions.show"), referential_line_route_vehicle_journey_frequencies_path(@referential, @line, @route) %>
    <% end %>
  </span>
</div>

<%= render 'shared/paginate', { datas: @vehicle_journeys } %>

<div class="vehicle_journeys paginated_content">
  <%= render 'vehicle_journeys_matrix' %>
</div>

<%= render 'shared/paginate', { datas: @vehicle_journeys } %>
