<%= title_tag edit_vehicle_title(@vehicle_journey) %>

<div class="vehicle_journey">
  <div class="summary">
    <p>
      <label><%= @route.human_attribute_name(:line) %>: </label>
      <%= link_to line_formatted_name( @line), [@referential, @line] %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name(:route) %>: </label>
      <%= link_to @route.name, [@referential, @line, @route] %>
    </p>
  </div>
</div>

<%= render "form" %>

