<%= title_tag t('vehicle_journeys.index.title', :route => @route.name ) %>

<%= search_form_for @q, :url => referential_line_route_vehicle_journeys_path(@referential,@line,@route), remote: true, :html => {:method => :get, class: "form-inline", :id => "search", role: "form"} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group col-md-9">
      <%= f.label :journey_pattern_id_eq, "Missions" %>
      <%= f.text_field :journey_pattern_id_eq %>

      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div><!-- /input-group -->
    <a data-toggle="collapse" data-parent="#search" href="#advanced_search">
      <i class="fa fa-plus"></i> <%= "#{t('.advanced_search')}" %>
    </a>
  </div>

  <div id="advanced_search" class="panel-collapse collapse">
    <div class="panel-body">
      <div>
      <%= f.label :time_tables_id_not_eq, "Sans calendrier" %>
      <%= f.check_box :time_tables_id_not_eq %>

      <span class="time_tables_id_eq">
        <%= f.label :time_tables_id_eq, "Sélectionner calendriers" %>
        <%= f.text_field :time_tables_id_eq, :input_html => { :"data-pre" => [].to_json} %>
      </span>
      </div>

      <div>
      <%= f.label :vehicle_journey_at_stops_departure_time_not_eq, "Sans horaire" %>
      <%= f.check_box :vehicle_journey_at_stops_departure_time_not_eq %>

      <span class="vehicle_journey_at_stops_departure_time_gt">
        <input name=<%= "q[vehicle_journey_at_stops_departure_time_gt(3i)]" %> type="hidden" value="1">
        <input name=<%= "q[vehicle_journey_at_stops_departure_time_gt(2i)]" %> type="hidden" value="1">
        <input name=<%= "q[vehicle_journey_at_stops_departure_time_gt(1i)]" %> type="hidden" value="2000">
        <%= f.label :vehicle_journey_at_stops_departure_time_gt, t('.time_range') %>
        <%= select_hour(@q.send( "vehicle_journey_at_stops_departure_time_gt") ? @q.send( "vehicle_journey_at_stops_departure_time_gt").hour : 0,
                         :prefix => "q", :field_name => "vehicle_journey_at_stops_departure_time_gt(4i)") %>
        <%= select_minute(@q.send( "vehicle_journey_at_stops_departure_time_gt") ? @q.send( "vehicle_journey_at_stops_departure_time_gt").min : 0,
                           :prefix => "q", :field_name => "vehicle_journey_at_stops_departure_time_gt(5i)") %>
      </span>
      </div>
    </div>
  </div>
</div>
<% end %>
<div id="vehicle_journeys" ><%= render "vehicle_journeys" %></div>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>
<script>
	$(function() {
        var time_tables_url = function(){
          return '<%= referential_time_tables_path(@referential, :format => :json) %>?route_id=<%= @route.id %>';
        };
        var time_table_to_html = function( item ){
          return '<li><div class=\"comment\">' + item.comment +
              '</div><div class=\"info\">' + item.time_table_bounding +
              '</div><div class=\"info\">' +  item.composition_info + '</div></li>';
        };
		$( "#q_time_tables_id_eq" ).tokenInput( time_tables_url, {
          crossDomain: false,
          prePopulate: $('#q_time_tables_id_eq').data('pre'),
          minChars: 3,
          queryParam: 'q[comment_cont]',
          propertyToSearch: 'comment',
          hintText: '<%= t('search_hint') %>',
          noResultsText: '<%= t('no_result_text') %>',
          searchingText: '<%= t('searching_term') %>',
          resultsFormatter: time_table_to_html,
          tokenFormatter: time_table_to_html,
        });
		$( "#q_journey_pattern_id_eq" ).tokenInput( '<%= referential_line_route_journey_patterns_path(@referential, @line, @route, :format => :json) %>', {
          crossDomain: false,
          prePopulate: $('#q_journey_pattern_id_eq').data('pre'),
          minChars: 1,
          queryParam: 'q[name_cont]',
          propertyToSearch: 'name',
          hintText: '<%= t('search_hint') %>',
          noResultsText: '<%= t('no_result_text') %>',
          searchingText: '<%= t('searching_term') %>',
          resultsFormatter: function(item){ return '<li><div class=\"name\">' + item.name + ', (' + item.id + ') </div></li>' },
        });
        $( 'input[name="q[time_tables_id_not_eq]"]').change( function(){
            $('span.time_tables_id_eq').toggle( $(this).filter(":checked").val()==undefined);
        });
        $( 'input[name="q[vehicle_journey_at_stops_departure_time_not_eq]"]').change( function(){
            $('span.vehicle_journey_at_stops_departure_time_gt').toggle( $(this).filter(":checked").val()==undefined);
        });
	});
</script>
