<%= title_tag t('vehicle_journeys.index.title', :route => @route.name ) %>

<div class="vehicle_journey_index">
  <div class="summary">
    <p>
      <label><%= @route.human_attribute_name(:line) %>: </label>
      <%= link_to line_formatted_name( @line), [@referential, @line] %>
    </p>
    <p>
      <label><%= Chouette::Route.model_name.human %>: </label>
      <%= link_to @route.name, [@referential, @line, @route] %>
    </p>
  <div>
<div>
<h3 class="vehicle_journeys"><%= t('.vehicle_journeys') %></h3>
<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @vehicle_journeys %>
  </div>
  <%= will_paginate @vehicle_journeys, :container => false %>
</div>
<div class="vehicle_journeys paginated_content">
  <table>
  <thead>
    <tr>
      <th class="title">Missions : </th>
      <% @vehicle_journeys.each do |vj| %>
        <th> <%= link_to vj.journey_pattern.published_name.blank? ? vj.journey_pattern.id: vj.journey_pattern.published_name.first(8),
                  [@referential, @line, @route, vj.journey_pattern]%></th>
      <% end %>
    </tr>
    <tr>
      <th class="title">Calendriers : </th>
      <% @vehicle_journeys.each do |vj| %>
        <th title="<%= time_tables_info( vj) %>" class="calendars"> 
          <%= time_tables_shortest_info( vj) %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th class="title">Courses : </th>
      <% @vehicle_journeys.each do |vj| %>
      <th> <%= link_to "c", [@referential, @line, @route, vj]%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @route.stop_points.each_with_index do |sp, index| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="stop_area"><%= sp.stop_area.name %></td>
    <% @vehicle_journeys.each do |vj| %>
      <td class="hours"><%= @matrix["#{vj.id}-#{sp.id}"] ? l( @matrix["#{vj.id}-#{sp.id}"].departure_time, :format => :hour) : "" %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
<% content_for :sidebar do %>
<ul class="actions">
  <li>
    <%= link_to  t('vehicle_journeys.actions.new'), new_referential_line_route_vehicle_journey_path(@referential, @line, @route), :class => "link" %>
  </li>
</ul>
<% end %>

