<ol class="breadcrumb">
  <li><%= link_to line_formatted_name( @line), [@referential, @line] %></li>
  <li><%= link_to @route.name, [@referential, @line, @route] %></li>
</ol>

<%= title_tag t('vehicle_journeys.index.title', :route => @route.name ) %>
<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @vehicle_journeys %>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: BootstrapPagination::Rails %>
</div>
<div class="vehicle_journeys paginated_content">
  <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="title"><%= Chouette::JourneyPattern.model_name.human.pluralize %> :</th>
      <% @vehicle_journeys.map(&:journey_pattern).each do |jp| %>
        <th><%= link_to journey_name( jp), [@referential, @line, @route, jp] %></th>
    <% end %>
    </tr>
    <tr>
      <th class="title"><%= Chouette::TimeTable.model_name.human.pluralize %> :</th>
      <% @vehicle_journeys.each do |vj| %>
        <th title="<%= time_tables_info( vj) %>" class="calendars"> 
          <%= time_tables_shortest_info( vj) %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th class="title"><%= Chouette::VehicleJourney.model_name.human.pluralize %> :</th>
      <% @vehicle_journeys.each do |vj| %>
      <th> <%= link_to vehicle_name(vj), [@referential, @line, @route, vj]%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @route.stop_points.each_with_index do |sp, index| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="stop_area"><%= sp.stop_area.name %></td>
    <% @vehicle_journeys.each do |vj| %>
      <td class="hours <%= missing_time_check(@matrix["#{vj.id}-#{sp.id}"]) %>">
        <%= (@matrix["#{vj.id}-#{sp.id}"] && @matrix["#{vj.id}-#{sp.id}"].departure_time) ? l( @matrix["#{vj.id}-#{sp.id}"].departure_time, :format => :hour) : "" %>
      </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: BootstrapPagination::Rails %>
</div>
<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('vehicle_journeys.actions.new'), new_referential_line_route_vehicle_journey_path(@referential, @line, @route), :class => "add" %></li>
    <li><%= link_to t('.timeless'), timeless_referential_line_route_vehicle_journeys_path(@referential, @line, @route), :class => "link" %></li>
	<li><%= link_to t('vehicle_journey_imports.new.title'), new_referential_line_route_vehicle_journey_import_path( @referential, @line, @route ), :class => "import" %></li>
	<li><%= link_to image_tag("icons/file_csv.png") + t('vehicle_journey_exports.new.title'), referential_line_route_vehicle_journey_exports_path(@referential, @line, @route, :format => :zip), :class => "with_fa" %></li>
  </ul>
  <!-- 
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       <%= t('vehicle_journey_exports.new.title') %><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to image_tag("icons/file_csv.png") + " Csv" , referential_line_route_vehicle_journey_exports_path(@referential, @line, @route, :format => :csv) %></li>
      <li><%= link_to image_tag("icons/file_excel.png") + " Excel", referential_line_route_vehicle_journey_exports_path(@referential, @line, @route, :format => :xls) %></li>
    </ul>
  </div>
  -->
  <h4><%= t(".selection") %></h4>

  <h5><%= Chouette::JourneyPattern.model_name.human.pluralize %></h5>

  <ul class="selection">
  <% @route.journey_patterns.each do |journey_pattern| %>
  <li><%= link_with_search journey_name(journey_pattern), "journey_pattern_id_eq" => journey_pattern.id %></li>
  <% end %>
  <li><%= link_with_search t(".selection_all"), {"journey_pattern_id_eq" => nil}, :class => "all" %></li>
  </ul>

  <h5><%= Chouette::TimeTable.model_name.human.pluralize %></h5>

  <ul class="selection">
  <% @route.time_tables.each do |time_table| %>
  <li><%= link_with_search time_table.comment, "time_tables_comment_eq" => time_table.comment %></li>
  <% end %>
  <li><%= link_with_search t(".selection_all"), {"time_tables_comment_eq" => nil}, :class => "all" %></li>
  </ul>

  <h4><%= t('.time_range') %></h4>
  <%= render :partial => "time_filter", :locals => { :time_field => "departure_time"} %>
<% end %>

