<%= title_tag  t('vehicle_journeys.new.title') %>

<div class="vehicle_journey">
  <div class="summary">
    <p>
      <label><%= @route.human_attribute_name(:line) %>: </label>
      <%= link_to line_formatted_name( @line), [@referential, @line] %>
    </p>
    <p>
      <label><%= Chouette::Route.model_name.human %>: </label>
      <%= link_to @route.name, [@referential, @line, @route] %>
    </p>
  <div>
<div>

<%= render "form" %>

