<%= title_tag vehicle_title(@vehicle_journey) %>

<div class="vehicle_journey">
  <div class="summary">
    <p>
      <label><%= @route.human_attribute_name(:line) %>: </label>
      <%= link_to line_formatted_name( @line), [@referential, @line] %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name(:route) %>: </label>
      <%= link_to @route.name, [@referential, @line, @route] %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name(:journey_pattern) %>: </label>
      <%= link_to journey_name(@vehicle_journey.journey_pattern), [@referential, @line, @route, @vehicle_journey.journey_pattern] %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("published_journey_name") %>: </label>
      <%= @vehicle_journey.published_journey_name %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("published_journey_identifier") %>: </label>
      <%= @vehicle_journey.published_journey_identifier %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("comment") %>: </label>
      <%= @vehicle_journey.comment %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("status_value") %>: </label>
      <%= @vehicle_journey.status_value %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("facility") %>: </label>
      <%= @vehicle_journey.facility %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("vehicle_type_identifier") %>: </label>
      <%= @vehicle_journey.vehicle_type_identifier %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("objectid") %>: </label>
      <%= @vehicle_journey.objectid %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("creation_time") %>: </label>
      <%= l @vehicle_journey.creation_time %>
    </p>
    <p>
      <label><%= @vehicle_journey.human_attribute_name("creator_id") %>: </label>
      <%= @vehicle_journey.creator_id %>
    </p>
  </div>
</div>
<h3>
<a class="vehicle_journey_at_stops"><%= @vehicle_journey.human_attribute_name(:vehicle_journey_at_stop_ids) %>
      <%= image_tag("icons/plus.png"  , :class => "switcher") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" , :style => "display: none;") %>
</a>
</h3>
<div class="vehicle_journey_at_stops content" style="display: none;">
  <table border="0" >
  <thead>
    <tr>
      <th class="hour title"><%= t('.arrival') %></th>
      <th class="stop title" ><%= t('.stop_title') %></th>
      <th class="hour title"><%= t('.departure') %></th>
    </tr>
  <thead>
    <tbody>
      <% @vehicle_journey.vehicle_journey_at_stops.each_with_index do |vjas, index| %>
      <tr class="<%= index%2==0 ? "odd" : "even" %>">
        <td class="hour <%= vjas.arrival_time.nil? ? "missing" : "" %>"><%= vjas.arrival_time ? l( vjas.arrival_time, :format => :hour) : "" %></td>
        <td><%= link_to vjas.stop_point.stop_area.name, [@referential, vjas.stop_point.stop_area] %></td>
        <td class="hour <%= vjas.departure_time.nil? ? "missing" : "" %>"><%= vjas.departure_time ? l( vjas.departure_time, :format => :hour) : "" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3>
<a class="vehicle_journey_time_tables"><%= t('.time_tables') %>
      <%= image_tag("icons/plus.png"  , :class => "switcher") %>
      <%= image_tag("icons/minus.png"  , :class => "switcher" , :style => "display: none;") %>
</a>
</h3>
<div class="vehicle_journey_time_tables content" style="display: none;">
  <%= render :partial => "vehicle_journeys/time_table", :collection => @vehicle_journey.time_tables %>
  </div>
  <% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('vehicle_journeys.actions.edit'), edit_referential_line_route_vehicle_journey_path(@referential, @line, @route, @vehicle_journey), :class => "edit" %></li>
    <li><%= link_to  t('vehicle_journeys.actions.destroy'), referential_line_route_vehicle_journey_path(@referential, @line, @route, @vehicle_journey), :method => :delete, :confirm =>  t('vehicle_journeys.actions.destroy_confirm'), :class => "remove" %></li>
  </ul>
  <% unless @vehicle_journey.vehicle_journey_at_stops.empty? ||
       @vehicle_journey.vehicle_journey_at_stops.any? { |vjas| vjas.departure_time.nil? } %>
    <h3><%= t('.translation_form') %></h3>
    <div id="compact_form" >
    <%= semantic_form_for [@referential, @line, @route, @vehicle_journey, VehicleTranslation.new] do |form| %>
    <%= form.inputs do %> 
      <%= form.input :duration %>
      <%= form.input :count %>
      <% end %>
      <%= form.actions do %>
        <%= form.action :submit, :as => :button, :label => t('.validation') %>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>
