<div id="index_item" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <span class="pull-right">                
	<% location = import.datas.links.select { |link| link["rel"] == "location" }.first.href %>
        <%= link_to referential_import_path(@referential, import.id), :method => :delete, :data => {:confirm =>  t('import_tasks.actions.destroy_confirm')}, :class => "btn btn-danger btn-sm" do %>
          <span class="fa fa-trash-o"></span>
        <% end %>
      </span>
      <h5>
        <%= link_to( referential_import_path(@referential, import.id), :class => "preview", :title => "#{ImportTask.model_name.human.capitalize} #{import.name}") do %>        
          <span class="name">
            <% if !import.no_save %><i class="fa fa-save"></i><% end %> <%= truncate(import.name, :length => 20) %>          
          </span>
        <% end %>
      </h5>
    </div>
  </div>
  <div class="panel-body">
    <p><%= link_to image_tag("icons/file_#{import.filename_extension}.png") + t("imports.show.imported_file"), imported_file_referential_import_path(@referential, import.id) %></p>
  </div>
  <div class="panel-footer">
    <%= progress_bar_tag(import) %>    
    <div class="history">
      <%=  l(import.created_at, :format => :short) if import.created_at %> | <%= import.user_name %>
    </div>
  </div>
</div>
