<%= title_tag t('.title') %> 
<div class="warning"><%= t('.warning') %> </div> 
<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @imports %>
</div>
<div class="imports paginated_content">
  <%= render :partial => "import", :collection => @imports %>
</div>
<div class="pagination">
  <%= will_paginate @imports, :container => false %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('imports.actions.new'), new_referential_import_path(@referential), :class => "add" %></li> 
</ul>
<% end %>
