<%= title_tag t(".title") %>

<%= semantic_form_for [@referential, @import] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :resources, :as => :file %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('back'), :back %></li>
  <% end %>
<% end %>
