<%= title_tag @import.name %>

<div class="import_show">
  <div class="summary">
    <p>
      <label><%= Import.human_attribute_name(:created_at) %>: </label>
      <%= l @import.created_at %>
    </p>
    <p>
      <label><%= Import.human_attribute_name(:status) %>: </label>
      <%= t @import.status, :scope => "imports.statuses" %>
    </p>
  </div>

  <% if @import.log_messages.empty? %>
  	  <p> <%= t(".not_yet_started") %> </p>
  <% else %>
	  <h3><%= t(".report") %></h3>
	  <table>
	    <tr>
	      <th class="severity"></th>
	      <th class="created_at"><%= ImportLogMessage.human_attribute_name(:created_at) %></th>
	      <th class="position"><%= ImportLogMessage.human_attribute_name(:position) %></th>
	      <th class="message"><%= ImportLogMessage.human_attribute_name(:full_message) %></th>
	    </tr>
	    <% @import.log_messages.each do |message| %>
	    <tr>
	      <td class="severity"><%= image_tag "severity-#{message.severity}.png", :alt => t(message.severity, :scope => "import_log_messages.severities") %></td>
	      <td class="created_at"><%= l message.created_at, :format => :short %></td>
	      <td class="position"><%= message.position %></td>
	      <td class="message"><%= message.full_message %></td>
	    </tr>
	    <% end %>
	  </table>
  <% end %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to  t('imports.actions.destroy'), referential_import_path(@referential, @import), :method => :delete,  :data => {:confirm =>  t('imports.actions.destroy_confirm')}, :class => "remove" %></li>
</ul>
<% end %>
