<div class="test">
  <%= title_tag job_status_title(@import) %>
</div>
<div class="progress_bars">
  <%= progress_bar_tag(@import) %>
</div>  
<div class="import_show">
  <div class="links">
    <%= link_to font_awesome_classic_tag("fa-file-#{@import.filename_extension}-o") + t("imports.show.imported_file"), imported_file_referential_import_path(@referential, @import.id) if @import.file_path? %>
    <%= link_to font_awesome_classic_tag("fa-external-link") + t("imports.show.compliance_check"), compliance_check_referential_import_path(@referential, @import.id) if @import.compliance_check? %>
  </div>
  <%= render( :partial => "shared/ie_report.html", :locals => { :referential => @referential, :job => @import} ) %>
</div>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('imports.actions.destroy'), referential_import_path(@referential, @import.id), :method => :delete, :data => {:confirm => t('imports.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@import) %>

<% end %>
