<div class="title row">
  <div class="col-md-8">
    <%= title_tag job_status_title(@import) %>
  </div>
  <div class="col-md-4">
    <%= import_attributes_tag(@import) %>
  </div>
</div>

<%= render 'ievkit_views/progress_bar', {
        path_to_progress_job: progress_referential_import_path(@referential, @import.id, format: :js) 
      } %>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('imports.actions.destroy'), referential_import_path(@referential, @import.id), method: :delete, data: {confirm: t('imports.actions.destroy_confirm')}, class: "remove" %></li>
  </ul>

  <%= history_tag(@import) %>

<% end %>
