<%= div_for(compliance_check_task, :class => "compliance_check_task clearfix") do %>
  <div class="icon">
    <%= link_to image_tag("compliance_check_task-#{compliance_check_task.status}.png"), referential_compliance_check_task_path(@referential, compliance_check_task) %>
  </div>
  <div class="resume">
    <ul class="header clearfix">
      <li class="title"><%= link_to(compliance_check_task.name, referential_compliance_check_task_path(@referential, compliance_check_task)) %></li>
      <li class="remove"><%= link_to "<i class='fa fa-trash-o'></i>".html_safe, referential_compliance_check_task_path(@referential, compliance_check_task), :method => :delete, :class => "delete", :data => {:confirm =>  t('compliance_check_tasks.actions.destroy_confirm')} %></li>
    </ul>
    <div class="links">
      <% if compliance_check_task.import_task.present? %>
      <p><%= link_to( image_tag('icons/link_page.png') + t("compliance_check_tasks.import_task"), referential_import_task_path(@referential, compliance_check_task.import_task)) %></p>
      <% end %>
      <% if compliance_check_task.parameter_set %>
      <p><%= link_to( image_tag('icons/link_page.png') + t("compliance_check_tasks.actions.rule_parameter_set"), rule_parameter_set_referential_compliance_check_task_path(@referential, compliance_check_task)) %></p>
      <% end %>
    </div>
    <div class="history">
      <%= l  compliance_check_task.created_at, :format => "%d/%m/%Y %H:%M" %> | <%=  compliance_check_task.user_name %>
    </div>
  </div>
<% end %>
