<%= title_tag t('.title') %>
<div class="warning"><%= t('.warning') %> </div>
<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @compliance_check_tasks %>
</div>
<div class="compliance_check_tasks paginated_content">
  <%= paginated_content @compliance_check_tasks %>
</div>
<div class="pagination">
  <%= will_paginate @compliance_check_tasks, :container => false, renderer: BootstrapPagination::Rails %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('compliance_check_tasks.actions.new'), new_referential_compliance_check_task_path(), :class => "add" %></li>
  <li><%= link_to t('rule_parameter_sets.actions.index'), referential_rule_parameter_sets_path(@referential), :class => "link" %></li>
</ul>
<% end %>
