<%= div_for(company, :class => "company") do %>
  <%= link_to company.name, [@referential, company] %>
  <div class="info">
  	<%= company.human_attribute_name('code') %> <%= company.code %>
    <div class="actions">  
      <%= link_to t("actions.edit"), edit_referential_company_path(@referential, company), :class => "edit" %> |
      <%= link_to t("actions.destroy"), referential_company_path(@referential, company), :method => :delete, :confirm =>  t('companies.actions.destroy_confirm'), :class => "remove" %>
    </div>

  </div>
<% end %>
