<%= title_tag t('companies.show.title', :company => @company.name) %>

<div class="line_show">

  <div class="summary">
    <p>
      <label><%= Chouette::Company.human_attribute_name("name") %>: </label>
      <%= @company.name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("short_name") %>: </label>
      <%= @company.short_name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("organizational_unit") %>: </label>
      <%= @company.organizational_unit %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("operating_department_name") %>: </label>
      <%= @company.operating_department_name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("code") %>: </label>
      <%= @company.code %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("phone") %>: </label>
      <%= @company.phone %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("fax") %>: </label>
      <%= @company.fax %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("email") %>: </label>
      <%= @company.email %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("registration_number") %>: </label>
      <%= @company.registration_number %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("objectid") %>: </label>
      <%= @company.objectid %>
    </p>
    <p>
      <label><%= @company.human_attribute_name("creation_time") %>: </label>
      <%= l(@company.creation_time) %>
    </p>
    <p>
      <label><%= @company.human_attribute_name("creator_id") %>: </label>
      <%= @company.creator_id %>
    </p>
  </div>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('companies.actions.edit'), edit_referential_company_path(@referential, @company), :class => "edit" %></li>
  <li><%= link_to  t('companies.actions.destroy'), referential_company_path(@referential, @company), :method => :delete, :confirm =>  t('companies.actions.destroy_confirm'), :class => "remove" %></li>
  <br>
</ul>
<% end %>
