<%= title_tag t('companies.show.title', :company => @company.name) %>

<div class="company_show">

  <div class="summary">
    <p>
      <label><%= Chouette::Company.human_attribute_name("short_name") %>: </label>
      <%= @company.short_name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("organizational_unit") %>: </label>
      <%= @company.organizational_unit %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("organisation_type") %>: </label>
      <%= t("organisation_type.label.#{@company.organisation_type}") %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("legal_name") %>: </label>
      <%= @company.legal_name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("operating_department_name") %>: </label>
      <%= @company.operating_department_name %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("code") %>: </label>
      <%= @company.code %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("time_zone") %>: </label>
      <%= @company.time_zone %>
    </p>
    <p>
      <label><%= Chouette::Company.human_attribute_name("registration_number") %>: </label>
      <%= @company.registration_number %>
    </p>
    <p><label><%= t('companies.contact.private') %></label></p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("phone") %>: </span>
      <%= @company.phone %>
    </p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("fax") %>: </span>
      <%= @company.fax %>
    </p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("email") %>: </span>
      <%= @company.email %>
    </p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("url") %>: </span>
      <%= @company.url %>
    </p>
    <p><label><%= t('companies.contact.public') %></label></p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("phone") %>: </span>
      <%= @company.public_phone %>
    </p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("email") %>: </span>
      <%= @company.public_email %>
    </p>
    <p>
      <span class="contact_details"><%= Chouette::Company.human_attribute_name("url") %>: </span>
      <%= @company.public_url %>
    </p>
  </div>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('companies.actions.new'), new_referential_company_path(@referential), :class => "add" %></li>
  <li><%= link_to t('companies.actions.edit'), edit_referential_company_path(@referential, @company), :class => "edit" %></li>
  <li><%= link_to  t('companies.actions.destroy'), referential_company_path(@referential, @company), :method => :delete,  :data => {:confirm =>  t('companies.actions.destroy_confirm')}, :class => "remove" %></li>
  <br>
</ul>
  <%= creation_tag(@company) %>
<% end %>
