<%= semantic_form_for [@referential, @time_table, @time_table_combination], :remote => true do |form| %>
  <div class="modal-body">
  <%= render "shared/flash_messages" %>
  <%= form.inputs do %>
    <%= form.input :operation, :as => :radio, :collection => Hash[TimeTableCombination.operations.map {|b| [t( b, :scope => "time_table_combinations.operations"),b]}] %>
    <%= form.input :combined_id, :label => t('.time_tables'), :as => :search_time_table, :json => referential_autocomplete_time_tables_path(@referential, :format => :json), :hint_text => t('search_hint'), :no_result_text => t('no_result_text'), :searching_text => t('searching_term'), :tokenLimit => 1 %>
  <% end %>
  </div>
  <div class="modal-footer">
  <%= form.actions do %>
    <%= form.action :submit, :as => :button , :label => t('time_tables.show.combine') %>
  <% end %>
  </div>
<% end %>
