<%= title_tag t('devise.registrations.new.title') %>

<%= semantic_form_for @subscription, :url => subscription_path do |form| %>
  <%= form.inputs do %> 
    <%= form.input :organisation_name %> 
    <%= form.input :user_name %> 
    <%= form.input :email %> 
    <%= form.input :password, :as => :password %> 
    <%= form.input :password_confirmation, :as => :password %> 
  <% end %>  

   <%= form.actions do %>
     <%= form.action :submit, :as => :button, :label => t('devise.registrations.new.title') %> 
     <%= form.action :cancel, :as => :link %>
   <% end %>
<% end %>

<% content_for :sidebar do %>
<ul class="actions">
  <li>
    <%= link_to t('devise.shared.sign_in'), new_user_session_path %>
  </li>
</ul>
<% end %>

