<div id="sessions_new" class="row">
  <div class="col-md-8 product_summary">
    <h2><%= t(".welcome") %></h2>
    <p><%= t(".introduction1") %></p>
    <p><%= t(".introduction2") %></p>
    <ul>
      <li>- <%= t(".introduction_item1") %></li>
      <li>- <%= t(".introduction_item2") %></li>
    </ul>
  </div>
  <div class="col-md-4 login">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :wrapper => "form_without_label", html: { :class => 'form-horizontal session_new' } ) do |form| %>
          <%= form.input :email, :label => false, input_html: { :class => "form-control" } %>
          <div class="row">
            <div class="col-md-6">
              <%= form.input :password, :as => :password, :label => false, input_html: { :class => "form-control" } %>
            </div>
            <div class="col-md-6">
              <%= form.button :submit, t("devise.sessions.new.commit"), :class => "btn-primary" %>
            </div>
          </div>
          <div class="row options">
            <div class="col-md-6">
              <% if devise_mapping.rememberable? %>
                <%= form.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
              <% end %>
            </div>
            <div class="col-md-6 new_password">
              <%= link_to t("devise.links.new_password"), new_password_path(resource_name) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: 'devise/shared/form_registration', locals: {
      organisation: (resource.organisation || Organisation.new) } %>

  </div>
</div>

