<div class="col-md-offset-2 col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t "devise.invitations.edit.header" %></div>
    <div class="panel-body">

      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, class: "form-horizontal" } do |form| %>
        <%= form.hidden_field :invitation_token %>

        <%= form.input :name %>
        <%= form.input :password, :as => :password %>
        <%= form.input :password_confirmation, :as => :password %>

        <div class="submit">
          <%= form.button :submit, :value => t("devise.invitations.edit.submit_button"), :class => "btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
