<div class="container-fluid">
  <div class="col-md-8">   
    <%= semantic_form_for [@referential, @stop_area] do |form| %>
      <%= form.inputs do %> 
        <%= form.input :id, :as => :hidden %>
        <%= form.input :name %>
        <%= form.input :stop_area_type, :as => :select, :input_html => { :disabled => !@stop_area.new_record? },
    :collection => Chouette::StopArea.stop_area_types, :include_blank => false, :member_label => Proc.new { |stop_area_type| t("area_types.label.#{stop_area_type}") }  %>
        <% if ! @referential.projection_type_label.empty? %>
          <div class="panel panel-default">
            <div class="panel-heading">@referential.projection_type_label</div>
            <div class="panel-body">
	            <%= form.input :projection_x %>
	            <%= form.input :projection_y %>
            </div>
          </div>	       
	      <% end %>
        <div class="panel panel-default">
          <div class="panel-heading">WGS84</div>
          <div class="panel-body">
	          <%= form.input :longitude %>
	          <%= form.input :latitude %>
          </div>
        </div>       
        <%= form.input :registration_number %>
        <%= form.input :street_name %>              
        <%= form.input :country_code %>              
        <%= form.input :fare_code %>              
        <%= form.input :nearest_topic_name %>              
        <%= form.input :comment, :as => :text %>              

        <% if !manage_itl %>
	        <%= form.input :mobility_restricted_suitability,:as => :boolean %>
	        <%= form.input :stairs_availability,:as => :boolean %>
	        <%= form.input :lift_availability,:as => :boolean %>	     
        <% end %>

        <%= form.input :objectid, :required => !@stop_area.new_record? %>  
      <% end %>

    <%= form.actions do %>
      <%= form.action :submit, :as => :button %>
      <%= form.action :cancel, :as => :link %>
    <% end %>
  <% end %>

  </div>
  <div class="col-md-4">
    <% if !manage_itl && @map %>
	  <%= @map.to_html %>
    <% end %>
  </div>
