<div class="container-fluid">
  <div class="col-md-7">   

      <div id="prefetch">
        <label><%= t('.geolocalize') %></label>
	<input class="typeahead form-control input-lg" maxlength="255" name="stop_area[address]" type="text" placeholder="<%= t('.address') %>" />       
      </div>

    <%= semantic_form_for [@referential, @stop_area] do |form| %>
      <%= form.inputs do %> 
        <%= form.input :id, :as => :hidden %>
        <%= form.input :name %>
        <%= form.input :stop_area_type, :as => :select, :input_html => { :disabled => !@stop_area.new_record? }, :collection => Chouette::StopArea.stop_area_types, :include_blank => false, :member_label => Proc.new { |stop_area_type| t("area_types.label.#{stop_area_type}") }  %>
        <% unless @referential.projection_type_label.empty? %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= @referential.projection_type_label %></div>
            <div class="panel-body">
	      <%= form.input :projection_xy, :input_html => { :title => t("formtastic.titles.stop_area.projection_xy")} %>
            </div>
          </div>	       
	    <% end %>
        <div class="panel panel-default">
          <div class="panel-heading">WGS84</div>
          <div class="panel-body">
	    <%= form.input :coordinates, :input_html => { :title => t("formtastic.titles.stop_area.coordinates")} %>
          </div>
        </div>       
        <%= form.input :registration_number, :input_html => { :title => t("formtastic.titles.stop_area.registration_number")} %>
        <%= form.input :street_name %>              
        <%= form.input :country_code %>              
        <%= form.input :zip_code %>              
        <%= form.input :city_name %>              
        <%= form.input :fare_code %>              
        <%= form.input :nearest_topic_name %>              
        <%= form.input :comment, :as => :text %>              

        <% if !manage_itl %>
	  <%= form.input :mobility_restricted_suitability,:as => :boolean %>
	  <%= form.input :stairs_availability,:as => :boolean %>
	  <%= form.input :lift_availability,:as => :boolean %>	     
        <% end %>

        <%= form.input :objectid, :required => !@stop_area.new_record?, :input_html => { :title => t("formtastic.titles.stop_area.objectid")} %>  

      <% end %>

      <%= form.actions do %>
        <%= form.action :submit, :as => :button %>
        <%= form.action :cancel, :as => :link %>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-5">
    <% if !manage_itl && @map %>
      <%= @map.to_html %>
    <% end %>
  </div>
</div>

<script>
  var addressesEngine = new Bloodhound({
    datumTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.id+" : "+d.road);
    },
    queryTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.id+" :: "+d.road);
    },
    limit: 10,
    remote: {
      url: '<%= referential_addresses_path(@referential, :format => 'json') %>?q=%QUERY',
      filter: function(list) {
        return $.map(list, function(d) { return { postcode: d.postcode, road: d.road, lon: d.lon, lat: d.lat, city: d.city, postcode: d.postcode, the_key: d.house_number+" "+d.road+", "+d.postcode+" "+d.city+", "+d.country }; });
      },
    }
  });
 
  // kicks off the loading/processing of `local` and `prefetch`
  var promise = addressesEngine.initialize();
  
  // passing in `null` for the `options` arguments will result in the default
  // options being used
  $('#prefetch .typeahead').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'addresses',
      displayKey: 'the_key',
      source: addressesEngine.ttAdapter(),
    }
  );

  $('.typeahead').on('typeahead:selected', function($e, datum) {
    $('input[name="stop_area[coordinates]"]').val(datum.lat+","+datum.lon);
    $('input[name="stop_area[coordinates]"]').change();
    $('input[name="stop_area[street_name]"]').val(datum.road);
    $('input[name="stop_area[zip_code]"]').val(datum.postcode);
    $('input[name="stop_area[city_name]"]').val(datum.city);
  })
</script>
