<%= semantic_form_for [@referential, @stop_area] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :name %>
    <%= form.input :comment %>              
    <%= form.input :nearest_topic_name %>              
    <%= form.input :street_name %>              
    <%= form.input :country_code %>              
    <%= form.input :fare_code %>              
    <%= form.input :registration_number %>
    <%= form.input :area_type, :as => :select, :collection => Chouette::StopArea.types, :include_blank => false, :member_label => Proc.new { |type| t("area_types.label.#{type}") }  %>
    <% if @stop_area.new_record? %>
      <%= form.input :objectid %>  
    <% else %>
      <li>
      <label><%= @stop_area.human_attribute_name("objectid") %>: </label>
      <%= @stop_area.objectid %>
      </li>
    <% end %>
    <p><%= t('stop_areas.show.geographic_data') %></p>
    <%= form.input :x %>              
    <%= form.input :y %>              
    <%= form.input :longitude %>              
    <%= form.input :latitude %>              
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    ou <%= link_to "revenir", [@referential, @stop_area] %>
  <% end %>
<% end %>
