<%= div_for(stop_area) do %>
  <%= link_to([@referential, stop_area], :class => "preview") do %>
    <div class="area_type">
      <%= image_tag "map/" + stop_area.stop_area_type + ".png"   %>
    </div>
  <% end %>
  <%= link_to stop_area.name, [@referential, stop_area] %>
  <div class="info">
    <p>      
      <% unless stop_area.area_type == 'ITL' || stop_area.geometry %>
      <span class="warning"><%= t('.no_position') %></span> -
      <% end %>
      <span class="warning">
      	<% if stop_area.zip_code.blank? %>
      	   <%=  stop_area.human_attribute_name('country_code')+' '+stop_area.country_code unless stop_area.country_code.blank? %>
      	<% else %>
      	   <%=  stop_area.zip_code %>
      	<% end %>
      	<%=  stop_area.city_name %>
      	&nbsp;
      </span>	
    </p>
    <p> 
      <% if stop_area.area_type == 'ITL' %>
        <%= t('.lines') %> <% stop_area.routing_lines.each do |line| %>
          <span class="line"><%= line.number %></span>
        <% end %>
      <% else %>
        <%= t('.lines') %> <% stop_area.lines.each do |line| %>
          <span class="line"><%= line.number %></span>
        <% end %>
      <% end %>
    </p>
    <div class="actions">  
      <%= link_to t("actions.edit"), edit_referential_stop_area_path(@referential, stop_area), :class => "edit" %> |
      <%= link_to t("actions.destroy"), referential_stop_area_path(@referential, stop_area), :method => :delete, :data => {:confirm =>  t('stop_areas.actions.destroy_confirm')}, :class => "remove" %>
    </div>
  </div>
<% end %>
