<%= title_tag t('stop_areas.add_routing_lines.title', :stop_area => @stop_area.name ) %>

<%= semantic_form_for [@referential, @stop_area] do |form| %>
<div>
  <%= form.inputs do %> 
    <%= form.input :routing_line_ids, :as => :text, :input_html => { :"data-pre" => ( @lines.map { |line| { :id => line.id.to_s, :name => "#{line.number} - #{line.name}" } } ).to_json }  %>
  <% end %>  
  
  <%= form.buttons do %>
    <%= form.commit_button %>
    <%= t('or') %>
    <%= link_to t('cancel'), [@referential, @stop_area] %>
  <% end %>
</div>
<% end %>

<script>
	$(function() {
		$( "#stop_area_routing_line_ids" ).tokenInput('<%= referential_stop_area_stop_area_routing_lines_path(@referential, @stop_area, :format => :json) %>', { 
       crossDomain: false, 
       prePopulate: $('#stop_area_routing_line_id').data('pre'),
       minChars: 1,
    });
	});
</script>
                         
<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>
