<%= title_tag t('stop_areas.index.title') %> 

<%= search_form_for @q, :url => referential_stop_areas_path(@referential), :html => {:method => :get} do |f| %>
  <%= f.label :name_or_country_code_cont, "#{t('.name_or_country_code')} :" %>
  <%= f.text_field :name_or_country_code_cont %>
  <%= f.hidden_field :area_type_eq %>

  <%= f.submit t('actions.search') %> <%= t("or") %>
  <%= link_to t("cancel"), referential_stop_areas_path(@referential) %>
<% end %>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @stop_areas %>
  </div>
  <%= will_paginate @stop_areas, :container => false %>
</div>
<div class="stop_areas paginated_content">
  <%= render :partial => "stop_area", :collection => @stop_areas %>
</div>
<div class="pagination">
  <%= will_paginate @stop_areas, :container => false %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
    <li><%= link_to t('stop_areas.actions.new'), new_referential_stop_area_path(@referential), :class => "add" %></li>
</ul>

<h3><%= t(".selection") %></h3>

<h4><%= t(".area_type") %></h4>

<ul class="selection">
<% Chouette::StopArea.stop_area_types.each do |area_type| %>
<li><%= link_with_search (image_tag("map/" + area_type + ".png")+t("area_types.label.#{area_type.to_s}")), "area_type_eq" => area_type.name %></li>
<% end %>
<li><%= link_with_search (image_tag("map/all.png")+t(".selection_all")), {"area_type_eq" => nil}, :class => "all" %></li>
</ul>

<% end %>
