<%= title_tag t('stop_areas.select_parent.title', :stop_area => @stop_area.name ) %>

<%= semantic_form_for [@referential, @stop_area] do |form| %>
<div>
  <%= form.inputs do %>
    <%= form.input :parent_id, :as => :search_stop_area, :json => referential_stop_area_stop_area_parents_path(@referential, @stop_area, :format => :json), :hint_text => t('search_hint'), :no_result_text => t('no_result_text'),:searching_text => t('searching_term'), :input_html => { :"data-pre" => ( @parent.present? ? [ { :id => @parent.id.to_s, :name => "#{@parent.name}" } ]: [] ).to_json }  %>
  <% end %>

   <%= form.actions do %>
     <%= form.action :submit, :as => :button %>
     <%= form.action :cancel, :as => :link %>
   <% end %>
</div>
<% end %>

<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>
