<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("activemodel.attributes.validation_result.status") %></th>
      <th><%= t("activemodel.attributes.validation_result.severity") %></th>
      <th><%= t("activemodel.attributes.validation_result.rule_code") %></th>
      <% if @validation_results && @validation_results.first.result == "NOK" %>
        <th><%= t("activemodel.attributes.validation_result.detail") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @validation_results.each_with_index do |validation_result, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= status_icon( validation_result.result, validation_result.severity ) %> </td>
      <td><%= t("validation_result.severities." + validation_result.severity.downcase + "_txt") %></td>
      <td>
	<% data_content = t ( "activemodel.attributes.validation_result." + validation_result.test_id ) %>
	<% data_title = t ( "activemodel.attributes.validation_result.title" ) %>
        <button data-content='<%= data_content %>' data-title='<%= data_title %>' rel="popover" data-toggle="popover" class="notice btn btn-info btn-xs" >
	  <i class="fa fa-info"></i>
	</button>
        <%= link_to validation_result.test_id, test_definition(validation_result.test_id), :title => ValidationReport.human_attribute_name(validation_result.test_id), :target => "validation" %>
      </td>
      <% if @validation_results && @validation_results.first.result == "NOK" %>
      <td class="td_error">
        <% if validation_result.errors.present? %>
        <span class="title_error">
          <i class="fa fa-plus-square"></i>
	  <%= validation_result.error_count.to_s + " " + ValidationReport.human_attribute_name("validation_result.violation_count") %>
        </span>
        <div class="details_error">
          <% validation_result.errors.first(10).each do |error| %>
            <p class="detail_error">
              <% if error[:source].objectid %>
	      <!-- % data_content_1 = ValidationReport.human_attribute_name(validation_result.test_id) + t("validation_result.details." + error[:error_id]) % --> <!--, error[:source].objectid ) % -->
	        <% data_content_1 = t("activemodel.attributes.validation_result." + validation_result.test_id) + ". " +
		   t("validation_result.details.detail_" + error[:error_id], object_labels_hash(error) ) %>
	        <% data_title_1 = t("activemodel.attributes.validation_result.detail") %>
                |- <button data-content='<%= data_content_1 %>' data-title='<%= data_title_1 %>' data-toggle="popover" class="notice btn btn-info btn-xs"><i class="fa fa-info"></i></button>
              <% else %>
	        <!-- % data_content_2 = ValidationReport.human_attribute_name(validation_result.test_id) + t("validation_result.detailss." + error[:error_id] ) % -->
	        <% data_content_2 = ValidationReport.human_attribute_name(validation_result.test_id) + t("validation_result.details." + error[:error_id] ) %>
	        <% data_title_2 = t("activemodel.attributes.validation_result.detail") %>
                |- <button data-content='<%= data_content_2 %>' data-title='<%= data_title_2 %>' data-toggle="popover" class="notice btn btn-info btn-xs"><i class="fa fa-info"></i></button>
	      <% end %>
	      <% if error[:source].object_path.present? %>
	        <%= link_to error[:source].label, object_url(@referential.id, error) %>
              <% end %>
                <!-- %= link_to error["objectId"], referential_path(@referential) + "/" + error["location"]["url"] % -->
              <!-- % elsif error["location"]["filename"].present? % -->
                <!-- %= error["objectId"] % --><br>
                <span class="file_error">
		  <%= error[:source].objectid %>
		  <!-- %= File.basename(error["location"]["filename"]) % -->
                  <!-- %= t("validation_results.index.column") % -->:
		  <!-- %= error["location"]["columnNumber"] % -->,
		  <!-- %= t("validation_results.index.line") % -->:
		  <!-- %= error["location"]["lineNumber"] % -->
		</span>
              <!-- % end % -->
            </p>   
          <% end %>             
        </div>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag referential_validation_validation_results_path(@referential, @validation.id, :format => :js) %>

