<%= title_tag t('vehicle_journey_imports.new.title') %>

<div class="main_actions">
</div>

<%= semantic_form_for [@referential, @line, @route, @vehicle_journey_import] do |form| %>
  <%= form.inputs do %> 
    <%= form.input :file, :as => :file, :input_html => { :title => "#{t('.tooltip.file')}", :'data-placement' => "right", :'data-toggle' => "tooltip", :'data-trigger' =>"hover" } %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :as => :button , :label => t( 'formtastic.import' ) %> 
    <%= link_to t('cancel'), [@referential, @line, @route] %>
  <% end %>
<% end %>
