<% submode = false unless defined? submode %>
<td<%= ' class="ce-transport_mode-submode"'.html_safe if submode %>>
  <%= t("transport_modes.#{format}.#{mode}", default: mode) %>
</td>
<% RuleParameterSet.mode_attribute_prefixes.each do |prefix| %>
  <% if prefix == "allowed_transport" %>
    <% hidden = (@rule_parameter_set.check_allowed_transport_modes == "1") ? "" : 'display: none;'%>
    <td class="allowed" style="<%= hidden %>" >
      <%= f.check_box "#{prefix}_mode_#{mode.parameterize('_')}".to_sym, :class => "special" %>
  <% else%>
    <td>
      <%= f.number_field "#{prefix}_mode_#{mode.parameterize('_')}".to_sym,  :class => "special" %>
  <% end %>
    </td>
<% end %>
