<%= title_tag t('rule_parameter_sets.index.title') %>

<% @rule_parameter_sets.each do |rule_parameter_set| %>
  <%= div_for(rule_parameter_set) do %>
    <%= link_to( rule_parameter_set.name, [@referential, rule_parameter_set]) %>
    <div class="info">
      <div class="actions">
        <%= link_to t("actions.edit"), edit_referential_rule_parameter_set_path(@referential, rule_parameter_set), :class => "edit" %>
        <% if @referential.rule_parameter_sets.size > 1 %>
        | <%= link_to t("actions.destroy"), referential_rule_parameter_set_path(@referential, rule_parameter_set), :method => :delete, :data => {:confirm =>  t('rule_parameter_sets.actions.destroy_confirm')}, :class => "remove" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('rule_parameter_sets.actions.new'), new_referential_rule_parameter_set_path(@referential), :class => "add" %></li>
</ul>
<% end %>
