<%= title_tag t('routes.show.title', :route => @route.name, :line => @route.line.name ) %>

<div class="route_show">
  <%= @map.to_html %>

  <div class="summary">
    <p>
      <label><%= @route.human_attribute_name(:line) %>: </label>
      <%= link_to line_formatted_name( @line), [@referential, @line] %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:name) %>: </label>
      <%= @route.name %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:published_name) %>: </label>
      <%= @route.published_name %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:number) %>: </label>
      <%= @route.number %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:comment) %>: </label>
      <%= @route.comment %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:direction_code) %>: </label>
      <% if @route.direction_code %>
        <%= t("directions.label.#{@route.direction_code}").capitalize %>
      <% else %>
        <%= t(".undefined") %>
      <% end %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:wayback_code) %>: </label>
      <% if @route.wayback_code %>
        <%= t("waybacks.label.#{@route.wayback_code}").capitalize %>
      <% else %>
        <%= t(".undefined") %>
      <% end %>
    </p>
    <p>
      <label><%= @route.human_attribute_name(:opposite_route) %>: </label>
      <% if @route.opposite_route %>
        <%= link_to @route.opposite_route.name, [@referential, @line, @route] %>
      <% else %>
        <%= t(".no_opposite_route") %>
      <% end %>
    </p>
    <p>
      <label><%= @route.human_attribute_name("objectid") %>: </label>
      <%= @route.objectid %>
    </p>
    <p>
      <label><%= @route.human_attribute_name("creation_time") %>: </label>
      <%= l @route.creation_time %>
    </p>
    <p>
      <label><%= @route.human_attribute_name("creator_id") %>: </label>
      <%= @route.creator_id %>
    </p>
  </div>

</div>

<p class="after_map" />
  <h3 class="route_stop_points"><%= t('.stop_points') %> 
    <a class="stop_points">
      <span class="switcher">+</span>
      <span class="switcher" style="display: none;">-</span>
    </a>
  </h3>
<div class="stop_points_detail" style="display: none;">
  <%= render :partial => "stop_points_detail" %>
</div>

<h3 class="route_journey_patterns"><%= t('.journey_patterns') %> 
  <a class="journey_patterns">
    <span class="switcher">+</span>
    <span class="switcher" style="display: none;">-</span>
  </a>
</h3>
<div class="journey_patterns content" style="display: none;">
  <%= render :partial => "journey_patterns/journey_pattern", :collection => @route.journey_patterns %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('routes.actions.edit'), edit_referential_line_route_path(@referential, @line, @route), :class => "edit" %></li>
  <li><%= link_to t('routes.actions.destroy'), referential_line_route_path(@referential, @line, @route), :method => :delete, :confirm =>  t('routes.actions.destroy_confirm'), :class => "remove" %></li>
  <li>
    <%= link_to t('stop_points.actions.sort'), [@referential, @line, @route, :stop_points], :class => "edit" %>
  </li>
  <li>
    <%= link_to t('journey_patterns.actions.new'), new_referential_line_route_journey_pattern_path(@referential, @line, @route), :class => "add" %>
  </li>
  <li>
    <%= link_to t('vehicle_journeys.actions.index'), [@referential, @line, @route, :vehicle_journeys], :class => "link" %>
  </li>
</ul>
<% end %>

