<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= ComplianceCheckResult.human_attribute_name(:status) %></th>
      <th><%= ComplianceCheckResult.human_attribute_name(:severity) %></th>
      <th><%= ComplianceCheckResult.human_attribute_name(:rule_level) %></th>
      <th><%= ComplianceCheckResult.human_attribute_name(:rule_code) %></th>
      <% if @compliance_check_results && @compliance_check_results.first.status == "nok" %>
        <th><%= ComplianceCheckResult.human_attribute_name(:detail) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @compliance_check_results.each_with_index do |compliance_check_result, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= image_tag "icons/status_#{compliance_check_result.status}.png" %></td>
      <td><%= t compliance_check_result.severity, :scope => "compliance_check_result.severities" %></td>
      <td><%= compliance_check_result.rule_level %></td>
      <td>
        <%= image_tag "icons/notice.png", :"data-content" => ComplianceCheckResult.human_attribute_name(compliance_check_result.rule_code), :"data-title" => t("activerecord.attributes.compliance_check_result.detail"), :class =>"notice" %>
        <%= link_to compliance_check_result.rule_code, "#", :title => ComplianceCheckResult.human_attribute_name(compliance_check_result.rule_code) %></td>
      <% if @compliance_check_results && @compliance_check_results.first.status == "nok" %>
      <td class="td_error">
        <% if compliance_check_result.detail.present? %>
        <span class="title_error">
          <i class="fa fa-plus-square"></i><%= compliance_check_result.violation_count.to_s + " " + ComplianceCheckResult.human_attribute_name(:violation_count) %>
        </span>
        <div class="details_error">
          <% compliance_check_result.detail["detail"].first(10).each do |error| %>
            <p class="detail_error">
              <% if error["messageArgs"] %>
                |- <%= image_tag "icons/notice.png", :"data-content" => ComplianceCheckResult.human_attribute_name(compliance_check_result.rule_code) + t("compliance_check_result.details." + error["messageKey"], error["messageArgs"].symbolize_keys ), :"data-title" => t("activerecord.attributes.compliance_check_result.detail"), :class =>"notice" %>
              <% else %>
                |- <%= image_tag "icons/notice.png", :"data-content" => ComplianceCheckResult.human_attribute_name(compliance_check_result.rule_code) + t("compliance_check_result.details." + error["messageKey"]), :"data-title" => t("activerecord.attributes.compliance_check_result.detail"), :class =>"notice" %>
              <% end %>
              <% if error["location"]["url"].present? %>
                <%= link_to error["objectId"], referential_path(@referential) + "/" + error["location"]["url"] %>
              <% elsif error["location"]["filename"].present? %>
                <%= error["objectId"] %><br>
                <span class="file_error"> <%= File.basename(error["location"]["filename"]) %>
                <%= t("compliance_check_results.index.column") %>: <%= error["location"]["columnNumber"] %>, <%= t("compliance_check_results.index.line") %>: <%= error["location"]["lineNumber"] %></span>
              <% end %>
            </p>   
          <% end %>             
        </div>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag referential_compliance_check_task_compliance_check_results_path(@compliance_check_task.referential, @compliance_check_task, :format => :js) %>

