<%= title_tag "#{@validation.name} <span class='status status_#{@validation.status}'>#{ t('validations.show.'+@validation.status) }</span>" %>
<% @title = "#{@validation.name}" %>

<div class="validation_show">
  <div class="links">
    <% if @validation.import %>
      <%= link_to image_tag('icons/link_page.png') + t("compliance_check_tasks.import_task"), referential_import_path(@referential, @validation.import) %>
    <% elsif @validation.export %>
      <%= link_to image_tag('icons/link_page.png') + t("compliance_check_tasks.export_task"), referential_export_path(@referential, @validation.export) %>
    <% end %>
    <%= link_to image_tag('icons/link_page.png') + t("compliance_check_tasks.rule_parameter_set"), organisation_rule_parameter_set_path(@referential.organisation, @validation.rule_parameter_set) %>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <%= t(".export") %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to t(".export_csv"), export_referential_validation_path(@referential, @validation.id)   %></li>
      </ul>
    </div>  

    <!-- % if @validation.status == 'completed'% -->
      <div class="resume">
	<div class="col1">
	  <div class="caption">
	    <%= t "validation_result.severities.error" %>
	  </div>
	  <div class="graph" id="error">
	  </div>
	</div>
	<div class="col2">
	  <div class="caption">
	    <%= t "validation_result.severities.warning" %>
	  </div>
	  <div class="graph" id="warning">
	  </div>
	</div>
      </div>
      <div class="order" style="display: none;">
	Filtre : <%= select_tag "order", ("<option value='severity'>" + ComplianceCheckResult.human_attribute_name(:severity) +"</option><option value='status'>" + ComplianceCheckResult.human_attribute_name(:status) + "</option>").html_safe, :include_blank => false %>
      </div>

      <div class="report">
      </div>
    <!-- % end % -->
    <%= javascript_include_tag referential_validation_path(@referential, @validation.id, :format => :js) %>
  </div>
</div>


<!-- div class="validation_show" -->
  <!-- %= render( :partial => "results_dashboard", :locals => { :referential => @referential} ) % -->
<!-- /div -->

<% content_for :sidebar do %>
  <ul class="actions">
    <li>
      <% unless (@validation.import || @validation.export) %>
        <%= link_to t('validations.actions.destroy'), referential_validation_path(@referential, @validation.id), :method => :delete, :data => {:confirm => t('validations.actions.destroy_confirm')}, :class => "remove" %>
      <% end %>
    </li>
  </ul>

  <%= history_tag(@validation) %>

<% end %>
