<%= div_for(stop_point) do %>
  <div class="handle" alt="<%= t('stop_points.index.move') %>" title="<%= t('stop_points.index.move') %>" ><%= image_tag "icons/move.png" %></div>
  <span class="position">
    <%= stop_point.position + 1 %>
  </span>
  <%= stop_point.stop_area.name %>
  <div class="info">
    <%= t('.lines') %> <% stop_point.stop_area.lines.reject { |l| l.id==@line.id}.each do |line| %>
      <span class="line"><%= line.number %></span>
    <% end %> -
    <%= stop_point.stop_area.human_attribute_name('country_code') %> <%= stop_point.stop_area.country_code %>
    <div class="actions">  
      <%= link_to t("stop_points.actions.show"), referential_stop_area_path(@referential, stop_point.stop_area), :class => "link" %> |
      <%= link_to t("actions.destroy"), referential_line_route_stop_point_path(@referential, @line, @route, stop_point), :method => :delete, :confirm =>  t('stop_points.actions.destroy_confirm'), :class => "remove" %>
    </div>
  </div>
<% end %>

