<%= title_tag  t('.title', :route => @route.name) %>

<%= semantic_form_for [@referential, @line, @route, @stop_point] do |form| %>
<div>
  <%= form.inputs do %> 
    <%= form.input :stop_area_id, :label => t('.select_area'),:input_html => { :"data-pre" => [].to_json }  %>
  <% end %>  
  
  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
</div>
<% end %>

<script>
	$(function() {
          $( "#stop_point_stop_area_id" ).tokenInput('<%= referential_stop_point_areas_path(@referential, :format => :json) %>', { 
       crossDomain: false, 
       prePopulate: $('#stop_area_id').data('pre'),
       tokenLimit: 1,
       minChars: 3,
    });
	});
</script>
                         
<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>

