<%= div_for(export, :class => "export clearfix") do %>
  <div class="icon">   
    <%= link_to image_tag("export-#{export.status}.png"), referential_export_path(@referential, export) %>
  </div>
  <div class="resume">
    <ul class="header clearfix">
      <li class="title">
        <%= link_to(export.name, referential_export_path(@referential, export)) %>
      </li>
      <li class="remove"><%= link_to "<i class='fa fa-trash-o'></i>".html_safe, referential_export_path(@referential, export), :method => :delete,  :data => {:confirm =>  t('exports.actions.destroy_confirm')}, :class => "remove" %></li>
    </ul>    
    <div class="history">
      <%= t("exports.statuses.#export.status}") %>
    </div>
    <div class="links">  
      <% if export.status == 'completed' %>
      <%= link_to t("exports.actions.download"), referential_export_path(@referential, export, :format => :zip), :class => "download" %>
      <% end %>
    </div>
    <div class="history">
      <%= l  export.created_at, :format => "%d/%m/%Y %H:%M" %> 
    </div>
  </div>
<% end %>
