<%= title_tag t('.title') %> 
<div class="warning"><%= t('.warning') %> </div> 

<div id="exports"><%= render 'exports' %></div>


<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('exports.actions.new'), new_referential_export_path(@referential), :class => "add" %></li> 
    <li><%= link_to t('rule_parameter_sets.actions.index'), referential_rule_parameter_sets_path(@referential), :class => "link" %></li>
  </ul>
<% end %>
