<%= title_tag t(".title") %>

<%= semantic_form_for [@referential, @export], :as => :export, :url => referential_exports_path(@referential) do |form| %>
  <%= form.inputs do %>
    <%= form.input :references_type, :as => :select, :collection => Export.references_types.map { |c| [ c.model_name.human.capitalize.pluralize, c.name ] }, :include_blank => t(".all") %>

    <% Export.references_types.each do |type| %>
      <%= export_references_input(form, @export, type).input %>
    <% end %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button true %>
    <li><%= t('or') %></li>
    <li><%= link_to t('cancel'), :back %></li>
  <% end %>
<% end %>

<%= javascript_include_tag new_referential_export_path(@referential, :format => :js) %>
