
<% if @export.report.failure_code? %>
    <p>
    <span class="name aborted">Something unexpected happened. It could be a temporary situation and restarting the job manually may solve the problem.
      Please contact the system administrator if retry results in the same error.</span>

    <div><%= t('.code') %>:        <%= @export.report.datas.failure.code %></div>
    <div><%= t('.description') %>: <%= @export.report.datas.failure.description %></div>

    </p>
<% else %>

<div class="title row">
  <div class="col-md-8">
    <%= title_tag job_status_title(@export) %>
  </div>
  <div class="col-md-4">
    <%= export_attributes_tag(@export) %>
  </div>
</div>

<%= render 'ievkit_views/progress_bar', {
        path_to_progress_job: progress_referential_export_path(@referential, @export.id, format: :js) 
      } %>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('exports.actions.destroy'), referential_export_path(@referential, @export.id), :method => :delete, :data => {:confirm => t('exports.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@export) %>

<% end %>
<% end %>