<div class="test">
  <%= title_tag job_status_title(@export) %>
</div>
<div class="progress_bars">
  <%= progress_bar_tag(@export) %>
</div>  
<div class="export_show">
  <div class="links">
    <%= link_to( font_awesome_classic_tag("fa-file-#{@export.filename_extension}-o") + t("exports.show.exported_file"), exported_file_referential_export_path(@referential, @export.id) ) if @export.file_path %>
  </div>
  <%= render( :partial => "shared/ie_report.html", :locals => { :referential => @referential, :job => @export} ) %>
</div>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('exports.actions.destroy'), referential_export_path(@referential, @export.id), :method => :delete, :data => {:confirm => t('exports.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@export) %>

<% end %>
