<ul class="user">
  <li class="home"><%= link_to  t('layouts.home'), root_path %></li>

  <% if user_signed_in?  %>
  <li> | </li>
  <li><%= link_to t('layouts.user.profile'), edit_user_registration_path %></li>
  <li> | </li> 
  <li><%= link_to t('layouts.user.sign_out'), destroy_user_session_path, :method => :delete %></li>
  <% end %>

  <li> | </li>
  <li class="<%= language_class('fr') %>"><%= link_to_language :fr %></li>
  <li class="<%= language_class('en') %>"><%= link_to_language :en %></li>
  <li>
  <% if user_signed_in?  %>
  <li> | </li> 
  <li>
  <%= link_to help_path , :target => "help" do %>
    <span class="help"><%= t('layouts.help') %></span>
  <% end %>
  </li>
  <% end %>
</ul>
