<!DOCTYPE html>
<html>
  <head>
    <title>CHOUETTE - <%= title %></title>
    <%= stylesheet_link_tag :application %>      
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  </head>
  <body>
    <div id="header">
      <div class="infos">
        <ul class="user">
          <li><%= link_to(t('layouts.home'), referentials_path) %></li>
        </ul>
        <h1>Chouette</h1>
      </div>

      <div class="tabs">
        <ul class="main">
          <% if !@referential.present? || @referential.new_record? %>
            <li><%= tab_link_to t('activerecord.models.referential'), referentials_path %></li>
          <% else %>
            <li><%= link_to "Tableau de bord", referential_path(@referential), :class => ("current" if current_page?(referential_path(@referential))) %></li>
            <li><%= tab_link_to t('activerecord.models.line'), referential_lines_path(@referential) %></li>
            <li><%= tab_link_to t('activerecord.models.network'), referential_networks_path(@referential) %></li>
            <li><%= tab_link_to t('activerecord.models.company'), referential_companies_path(@referential) %></li>
          <% end %>    
        </ul>
      </div>
    </div>
    <div id="body">
      <div id="flash">
        <% flash_tag flash %>
      </div>
      <div id="workspace" class="<%= controller_name %> <%= action_name %>">
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </body>
</html>
