<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Chouette V2 - <%= title %></title>
    <%= stylesheet_link_tag :application %>      
    <%= javascript_include_tag :application %>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script> 
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  </head>
  <body>
    <script type="text/JavaScript">
      OpenLayers.ImgPath = "/assets/openlayers/"
    </script>
    <div id="header">
      <div class="infos">               
        <div class="logo"> 
          <%= link_to image_tag("logo_chouette.png"), referentials_path %>
        </div>
        <div class="title"> 
          <% if selected_referential? %>
            <h1><%= @referential.name %></h1>
          <% elsif help_page? %>
            <h1>Guide d'utilisation</h1>
          <% end %>
        </div>
        <div class="interaction">
          <%= render "layouts/user_links" %>
        </div>
      </div>
      <div class="tabs">
        <ul class="main">
          <% if help_page? %>
            <li><%= link_to "Aide", help_path, :class => "current" %></li>
          <% elsif ! selected_referential? %>
            <li><%= tab_link_to Referential, referentials_path, :class => ("current" if current_page?(referentials_path)) %></li>
            <li><%= tab_link_to FileValidation, file_validations_path %></li>
          <% else %>
            <li><%= link_to t("layouts.tabs.dashboard"), referential_path(@referential), :class => ("current" if current_page?(referential_path(@referential))) %></li>
            <li><%= tab_link_to Chouette::Network, referential_networks_path(@referential) %></li>
            <li><%= tab_link_to Chouette::Company, referential_companies_path(@referential) %></li>
            <li><%= tab_link_to Chouette::Line, referential_lines_path(@referential) %></li>
            <li><%= tab_link_to Chouette::StopArea, referential_stop_areas_path(@referential) %></li>
            <li><%= tab_link_to Chouette::ConnectionLink, referential_connection_links_path(@referential) %></li>
            <li><%= tab_link_to Chouette::TimeTable, referential_time_tables_path(@referential) %></li>

            <li><%= tab_link_to Import, referential_imports_path(@referential) %></li>
            <li><%= tab_link_to Export, referential_exports_path(@referential) %></li>
          <% end %>    
        </ul>
      </div>
    </div>
    <div id="body">
      <div id="flash">
        <%= flash_tag flash %>
      </div>
      <div id="workspace" class="<%= controller_name %> <%= action_name %>">
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </body>
</html>
